/**
* @copyright (C) 2013 iJoomla, Inc. - All rights reserved.
* @license GNU General Public License, version 2 (http://www.gnu.org/licenses/gpl-2.0.html)
* @author iJoomla.com <webmaster@ijoomla.com>
* @url https://www.jomsocial.com/license-agreement
* The PHP code portions are distributed under the GPL license. If not otherwise stated, all images, manuals, cascading style sheets, and included JavaScript *are NOT GPL, and are released under the IJOOMLA Proprietary Use License v1.0
* More info at https://www.jomsocial.com/license-agreement
*/

.no-float() {
	float: none !important;
	display: block !important;
	width: auto !important;
}

.no-margin() {
	margin: 0;
}

.hidden() {
	display: none;
}

body #community-wrap
{

	.no-float();

	.cResponsive {
		.no-float();
	}

	.js-toolbar {
		.brand  {
			display:block;
		}
	}

	.js-focus-actions {
		.navbar-inner {
			padding-bottom:5px;
		}
	}

	// Frontpage Login
	// ===============

	.cGuest {
		.login-area {
			ul.inline {
				margin-bottom:12px;
			}
		}
	}

	// Avatar
	// ======

	.cPageAvatar {
		> div .cAvatarOption, div b {
				display:none;
			}
		> div:hover { display:none;}
		}

	.cPageAdmin.cFloatedList {
		.edit-avatar, .remove-avatar {
			display:none;
		}
	}

	// Wysywig Editor
	// ==============
	.wysiwyg-editor {
		display:none;
	}


	// Event
	// =====
	&.cEvents {
		.cSubmenu {
			li[class*="last-child"] {
				display:none;
			}
		}
	}

	// Focus
	// =====
	.js-collapse-about {
		.dl-horizontal {
			padding:0px 10px;
		}
	}

	// Index
	// ======
	.cIndex-Actions {
		position:static;
		> div {
			display:block;
			+ div {
				margin-left:0px;
			}
		}
	}



}
