/* *
* @copyright (C) 2013 iJoomla, Inc. - All rights reserved.
* @license GNU General Public License, version 2 (http://www.gnu.org/licenses/gpl-2.0.html)
* @author iJoomla.com <webmaster@ijoomla.com>
* @url https://www.jomsocial.com/license-agreement
* The PHP code portions are distributed under the GPL license. If not otherwise stated, all images, manuals, cascading style sheets, and included JavaScript *are NOT GPL, and are released under the IJOOMLA Proprietary Use License v1.0
* More info at https://www.jomsocial.com/license-agreement */

a, p, span {
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word;
}
a:hover, a:focus {
	outline: none !important;
}
dt, dd, ul, ol {
	margin: 0;
	padding: 0;
}
ul.unstyled, ol.unstyled {
	margin: 0;
	list-style: none;
	padding: 0;
}
.reset-gap {
	margin: 0px;
	padding: 0px;
}
figure {
	margin: 0;
}

/* *- RESET HEADING -* */
.cResetH {
	.reset-shape();
	.reset-space();
	line-height: normal;
}
.componentheading {
	font-size: 24px;
	margin-bottom: 20px;
}

/* *- RESET SMALL -* */
.small, small {
	//color: #999;
	font-size: 90% !important;
	margin: auto;
}

/* *- RESET LIST -* */
.cResetList, .cResetList > li {
	list-style: none;
	list-style-image: none;
	line-height: inherit;
	.reset-shape();
	.reset-space();
}

/* *- FLOATED LIST -* */
.cFloatedList > li, .cThumbsList > li, .cThumbsList > li a {
	display: inline-block;
	float: left;
}
.cFloatedList > li.cFloat-R {
	float: right;
}

/* *- FLOAT CLEAR -* */
.clear {
	clear: both;
}
.clearfull {
	display: inline-block;
	width: 100%
}

/* *- FLOATED LIST -* */
.cResetTable, .cResetTable tr, .cResetTable td, .cResetTable th {
	background: none;
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
	font-weight: normal;
	line-height: inherit;
	vertical-align: middle;
	padding: 0;
	margin: 0;
	float: none;
}
.cResetTable th {
	font-weight: bold;
}

/* *- EMPTY -* */
.cEmpty {
	color: #999;
	text-align: center;
	padding: 30px 0;
	&.small {
		padding:15px;
		background-color:@main-background-color;
		border:1px solid @main-border-color;
	}
}

/* *- ALERT -* */
.cAlert {
	background-color: @alert-background;
	border: @alert-border;
	.border-radius( 3px );
	color: @alert-color;
	margin: 0 0 @base-height;
	padding: 10px;
	p {
		margin: 0 0 10px;
	}
	&.alert-info {
		background-color: #e3e6ee;
		border-color: #B9C3DC;
		color: #374e70;
	}
	&.alert-error {
		background-color: #F2DEDE;
		border-color: #cda6ab;
		color: #B94A48;
	}
	&.alert-success {
		background-color: #DFF0D8;
		border-color: #b6cca3;
		color: #468847;
	}
	&.cEmpty {
		padding: 50px 0;
	}
}

/* *- FLOATS -* */
.cFloat-L {
	float: left;
}
.cFloat-R {
	float: right;
}

/* * SHADOW * */
.no-box-shadow {
	.box-shadow(none);
}
.no-text-shadow {
	.text-shadow(none);
}

/* * BOXY * */
.joms-boxy {
	.box-sizing(border-box);
}

// table
.table {
	width: 100%;
	max-width: 100%;
}
// iframe
iframe {
	max-width: 100%;
}
.video-player iframe {
	max-width: 100% !important;
}
// fallback to video from metaface.com, break.com, flickr.com
.video-player embed {
	width: 100% !important;
}