/**
* @copyright (C) 2013 iJoomla, Inc. - All rights reserved.
* @license GNU General Public License, version 2 (http://www.gnu.org/licenses/gpl-2.0.html)
* @author iJoomla.com <webmaster@ijoomla.com>
* @url https://www.jomsocial.com/license-agreement
* The PHP code portions are distributed under the GPL license. If not otherwise stated, all images, manuals, cascading style sheets, and included JavaScript *are NOT GPL, and are released under the IJOOMLA Proprietary Use License v1.0
* More info at https://www.jomsocial.com/license-agreement
*/

/**
* COMMUNITY : SUBMENU TOOLBAR
* Affected files:- \com_community\templates\default\toolbar.submenu.php
*/
.cSubmenu
{
	background: @submenu-background;
	border: @submenu-border;
	.border-radius( 3px );
	.box-shadow( 0 1px 0 rgba(0,0,0,0.05) );
	margin: 0 0 20px;
	padding: 7px;
	font-size: 11px;


    	li
    	{
    		position: relative; 

    		+ li
			{
				border-left: @submenu-border-menu;
				margin: 0 0 0 7px;
				padding: 0 0 0 7px;
			}
			a
			{
				background:none;
				color:@submenu-link-color;
				display:inline-block;
				line-height: 13px;
				text-decoration: none;

					&:hover
					{
						color: lighten(@submenu-link-color,5%);
						text-decoration: underline;
					}
					&.active
					{
						color: lighten(@submenu-link-color,5%);
						cursor: default;
						text-decoration: underline;
					}
			}
			
			&.action
			{
				float: right;
			}
			&.action.last-child
			{
				border-left: 0;
				margin: 0;
				padding: 0;
			}
    	}
}



.cSubmenu-Search
{
	background: @submenu-background;
	border: @submenu-border;
	border-top: 0;
	.border-radius( 0 0 2px 2px );
	display: none;
	padding: 7px;
	margin-top: 7px;
	position: absolute;
	left: 0;
	z-index: 19;
	form {
		margin:0px;
	}
}