/**
* @copyright (C) 2013 iJoomla, Inc. - All rights reserved.
* @license GNU General Public License, version 2 (http://www.gnu.org/licenses/gpl-2.0.html)
* @author iJoomla.com <webmaster@ijoomla.com>
* @url https://www.jomsocial.com/license-agreement
* The PHP code portions are distributed under the GPL license. If not otherwise stated, all images, manuals, cascading style sheets, and included JavaScript *are NOT GPL, and are released under the IJOOMLA Proprietary Use License v1.0
* More info at https://www.jomsocial.com/license-agreement
*/

// filter alphabet
.cFilter {
	.filter {
		font-size:11px;
		padding:0px 4px;
		&.active {
			a {
				font-weight:bold;
			}
		}
	}
}

// filterbar on frontpage stream
.joms-activity-filter {
	* {
		.box-sizing(border-box);
	}
	.box-sizing(border-box);
	margin:0px;
	display:block;
	width:100%;
	position:relative;
	padding:6px;
	border:1px solid @filterbar-border-color;
	background:@filterbar-background;
	height:32px;
	line-height:16px;
	.box-shadow(0px 2px 1px rgba(0,0,0,0.04));

	.joms-activity-filter-status {
		color:#7f8c8d;
		font-weight:bold;
		text-transform: lowercase;
	}

	.joms-activity-filter-action {
		font-size:13px;
		a {
			cursor:pointer;
			color:#7f8c8d;
			text-decoration:none;
			&:hover, &.filtered {
				color:darken(#7f8c8d,6%);
			}
		}
	}

	.joms-activity-filter-dropdown {
		text-align:left;
		border-color:@filterbar-border-color;
		li {
			width:50%;
			float:left;
			&:last-child {
				width:100%;
				border-top:1px solid @filterbar-border-color;
				margin-top:8px;
				padding-top:8px;
			&.active {
				background:@filterbar-hover-background;
				}
			}
		}
	}

}