/**
* @copyright (C) 2013 iJoomla, Inc. - All rights reserved.
* @license GNU General Public License, version 2 (http://www.gnu.org/licenses/gpl-2.0.html)
* @author iJoomla.com <webmaster@ijoomla.com>
* @url https://www.jomsocial.com/license-agreement
* The PHP code portions are distributed under the GPL license. If not otherwise stated, all images, manuals, cascading style sheets, and included JavaScript *are NOT GPL, and are released under the IJOOMLA Proprietary Use License v1.0
* More info at https://www.jomsocial.com/license-agreement
*/

@videoThumbWidth		: 100%;

.cVideo-Thumb
{
	width:@videoThumbWidth;
	position: relative;
	display:inline-block;
	img
	{
		width: @videoThumbWidth;
		height: auto;
	}

	b {
		color: #fff !important;
		font: 10px/1.2 Tahoma,Arial,sans-serif;
		padding: 3px 5px;
		background: #111;
		opacity: 0.8;
		position: absolute;
		bottom: 0px;
		right: 0px;
	}
}

.js-mod-video {
	.span6:nth-child(2n+1) {
		margin-left:0px;
	}
}