/**
* @copyright (C) 2013 iJoomla, Inc. - All rights reserved.
* @license GNU General Public License, version 2 (http://www.gnu.org/licenses/gpl-2.0.html)
* @author iJoomla.com <webmaster@ijoomla.com>
* @url https://www.jomsocial.com/license-agreement
* The PHP code portions are distributed under the GPL license. If not otherwise stated, all images, manuals, cascading style sheets, and included JavaScript *are NOT GPL, and are released under the IJOOMLA Proprietary Use License v1.0
* More info at https://www.jomsocial.com/license-agreement
*/

@mce-border-color		: #ccc;

.mceEditor
{
	display: block;

	.mceLayout
	{
		border: 1px solid @mce-border-color;
	}
	.mceFirst > .mceToolbar
	{
		border-bottom: 1px solid @mce-border-color;
	}
	.mceLast > .mceStatusbar
	{
		border-top: 1px solid @mce-border-color;
	}
}