/**
* @copyright (C) 2013 iJoomla, Inc. - All rights reserved.
* @license GNU General Public License, version 2 (http://www.gnu.org/licenses/gpl-2.0.html)
* @author iJoomla.com <webmaster@ijoomla.com>
* @url https://www.jomsocial.com/license-agreement
* The PHP code portions are distributed under the GPL license. If not otherwise stated, all images, manuals, cascading style sheets, and included JavaScript *are NOT GPL, and are released under the IJOOMLA Proprietary Use License v1.0
* More info at https://www.jomsocial.com/license-agreement
*/



.cStreamTitle
{
	font-size: 125%;
	border-bottom: @stream-title-border;
	padding: 0 0 10px;
	margin: 10px 0 20px;
}
.cStreamList
{
	+ .cStreamTitle
	{
		margin-top: 35px;
	}
	&.pushedUp
	{
		margin-top: -(@stream-spacing);
	}
	> li
	{
		padding: (@stream-spacing+5) 0;
		position: relative;
		display: inline-block;
		width: 100%;

		+ li{
			border-top: 1px solid @stream-border;
		}

		&.feed-status
		{
			.stream-message
			{
				display: block;
				margin: @stream-margin 0 0;
			}
		}
	}

	+ .cStreamList
	{
		margin-top: 40px;
	}
}

.cStream-Avatar
{
	.cAvatar
	{
		.square( @stream-avatar );
	}
}

.cStream-Content
{
	margin: 0 0 0 (@stream-avatar + @stream-spacing);

	&.Compact
	{
		.cStream-Headline
		{
			min-height: 20px;
			margin: 0 0 0 25px;

			.cStream-Icon
			{
				margin: -2px 0 0 -25px;
			}
		}
	}
}
.cStream-Author,
.cStream-Heading,
.cStream-Reference
{
	font-weight: bold;
}

.cStream-Actions,
.cStream-Attachment,
// .cStream-Quote,
.cStream-Status
{
	margin-top: @stream-margin;
}

.cStream-Quote {
	padding: 8px 8px 8px 12px;
	border-left: 2px solid rgba(0,0,0,0.06);
	color:#7f8c8d;
	font-size:95%;
	margin-bottom:12px;

	&.video-share , &.photo-share {
		max-width:320px;
		padding:12px;
		border-left:none;
		background:rgba(0,0,0,0.024);
	}

	&.photo-share {
		max-width:100%;
	}
}


.cStream-Attachment
{
	display: inline-block;
	width: 100%;
}
.cStream-Actions
{
	line-height: @stream-line;

	> i,
	> span
	{
		float: left;
		display: inline-block;
	}

	span
	{
		line-height:  @stream-line;
		height:  @stream-line;
		min-height:  @stream-line;

		+ span
		{
			background: url(../images/middot.png) 0 center no-repeat;
			padding: 0 0 0 7px;
			margin: 0 0 0 5px;
		}
	}
}
.cStream-Icon // set some spacing after stream icon
{
	margin:-( (20 - @stream-line) / 2 ) 5px 0 0;
}
.cStream-Control
{
	position: absolute;
	top: @stream-spacing;
	right: 0;
}

.cStream-Respond {
	font-size: 95%;
	> div
	{
		background: @stream-respond-background;
		// border: @stream-respond-border;
		.border-radius( 2px );
		margin: 7px 0 0 0;
		padding: 5px;

		+ div
		{
			margin-top: 1px;
		}
	}
	.cStream-Likes,
	.cStream-More
	{
		line-height: 20px;
	}
	a:hover {
		text-decoration:none;
	}
	.stream-icon {
		color:#aaa;
	}
}


.cStream-Comment
{
	.cStream-Avatar
	{
		img
		{
			.square( 40px );
		}
	}
	.cStream-Content
	{
		margin:0 0 0 50px;
	}
	.cStream-Meta
	{

		margin:3px 0 0;
		color: #999;

		a:hover {
			text-decoration: none;
		}

		.js-meta-actions {
			display:inline;
			span {
				margin-left:4px;
			}
		}
	}
}

.cStream-Form
{
	display:none; /* start hidden */
}

/* stream comment */
.cStream-FormInput {
  background: lighten(@postbox-input-background,4%);
  padding: 2px 5px;
  position: relative;

  .textntags-wrapper {
  	position:relative;
  }

	textarea {
	  position: absolute;
	  left: 0;
	  right: 0;
	  top: 0;
	  bottom: 0;
	  width: 100% !important;
	  display: block;
	  height: 18px;
	  padding: 0 !important;
	  margin: 0 !important;
	  border: 0 none !important;
	  border-radius: 0 !important;
	  box-shadow:
	  overflow: hidden;
	  background: transparent !important;
	  outline: 0;
	  resize: none;
	  font-family: inherit !important;
	  font-size: inherit !important;
	  line-height: inherit !important;
	  -webkit-box-shadow: none !important;
	     -moz-box-shadow: none !important;
	          box-shadow: none !important;
	  -webkit-box-sizing: border-box;
	     -moz-box-sizing: border-box;
	          box-sizing: border-box;
	}
}

.cStream-FormSubmit
{
	margin: 5px 0 0;
	text-align: right;
	button { float:none !important;}
}
.cStream-FormCancel
{
	margin: 0 5px;
}
.cStream-FormText
{
	resize: none;
}
.cStream-FormCancel,
.cStream-FormButton
{
	display:inline-block;
	vertical-align: baseline;
}
.cStream-FormButton
{
	.border-radius( 2px );
	.box( #ccc #ccc #aaa );
	.gradient-vertical( #ffffff, #f0f0f0);

	font-size: 11px;
	font-weight: bold;
	font-family: inherit;
	padding: 4px 6px;
	color: #555;
	cursor: pointer;
	height: auto;
}
.wallnone {
	display:none;
}





/**--- STREAM'S PHOTO ---**/

.cStream-Photo
{
	.cPhoto-Thumb,
	.cPhoto-Thumb img
	{
		display: block;
		width: 100%;
		height: auto;
	}

}
.cStream-PhotoRow > div
{
	max-width: 128px;
}
.cStream-Photo + .cStream-Quote,
.cStream-PhotoRow + .cStream-PhotoRow
{
	margin: @stream-margin 0 0;
}

.js-stream-photos {
	max-width:556px;
	width:100%;
}

.cStream-Video {
	.video-avatar {
		max-width:130px;
	}
	.video-description {
		padding-left:140px;
	}
}



/**--- STREAM'S CUSTOM MESSAGE ---**/

.cSnippets
{
	&.Inline
	{
		font-size: 0;
		margin: -3px 0 0 -3px;

		> b
		{
			display: inline-block;
			margin: 3px 0 0 3px;
		}
	}

	&.Block
	{
		> div + div
		{
			margin-top: 5px;
		}
	}
}
.cSnip-Avatar
{
	img{ .square( @stream-avatar ); }

	&.Album
	{
		background: #fff !important;
		border: 1px solid #ccc;
		margin: 4px 0 0 3px;

		img
		{
			background: #fff;
			border: 1px solid #ccc;
			display: inline-block;
			float: left;
			padding: 3px;
			margin: -5px 2px 2px -5px;
			.square( @stream-avatar+10 );
		}

		+ .cSnip-Detail
		{
			margin: 0 0 0 @stream-avatar+30;
		}
	}
	&.Video
	{
		position: relative;

		img{ .size( @stream-video, auto ); }
		b
		{
			background: #111;
			border-radius: 2px 2px 2px 2px;
			bottom: 5px;
			color: #fff;
			font: 10px/1.2 Tahoma,Arial,sans-serif;
			opacity: 0.8;
			padding: 3px 5px;
			position: absolute;
			right: 5px;
		}
	}
}
.cSnip-Detail
{
	margin: 0 0 0 @stream-avatar+10;

	&.Video
	{
		margin: 0 0 0 @stream-video+10;
	}
}
.cSnip-Title
{
	font-weight: bold;
}
.cSnip-Info
{
	display: inline-block;
	line-height: 16px;
	margin-top: 5px;
	width: 100%;

	> span
	{
		float: left;

		+ span
		{
			background: url(../images/middot.png) 0 center no-repeat;
			padding: 0 0 0 7px;
			margin: 0 0 0 5px;
		}
	}
}
.cSnip-Photo
{
	display: inline-block;
	position: relative;

	img
	{
		border: 0;
		padding: 0;
		margin: 0;
	}

	span
	{
		background: #333;
		background: rgba( 0,0,0,0.5 );
		border: 1px solid #ddd;
		display: none;
		position: absolute;
		left: -1px;
		top: -1px;
		width: 100%;
		height: 100%;

		i
		{
			color: #fff;
			display: block;
			font-size: 11px;
			font-style: normal;
			font-weight: normal;
			padding: 10px;
		}
	}

	&:hover span
	{
		display: block;
	}
}


.cUpdatesHelper
{
	border-top: 1px dotted #ddd;
	padding-top: 15px;
	margin-top: 15px;

	.updates-options
	{
		a + a
		{
			border-left: 1px solid #ddd;
			display: inline-block;
			padding: 0 0 0 5px;
			margin: 0 0 0 5px;
		}
	}
}

#activity-stream-container {
	position:relative;
	.box-sizing(border-box);
}

.cActivity-LoadLatest
{
	display: none;
	margin-bottom: 5px;
}

.cActivity-LoadMore
{
	margin-top: 5px;

	.loading
	{
		background-position: center !important;
		background-repeat: no-repeat;
		display: none;
	}
}

ul.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}
.joms-stream {
  clear:both;
  position:relative;
	margin-bottom:0px;
	.box-sizing(border-box);
	padding:32px 0px;
	border-bottom:1px solid rgba(0,0,0,0.04);

  *, *:after, *:before {
  		box-sizing: border-box;
  		-moz-box-sizing: border-box;
  		-webkit-box-sizing: border-box;
  }
  .dropdown-menu {
  	top:inherit;
  	left:inherit;
  }
}

.joms-stream-avatar {
  width:60px;
  float:left;
  .box-sizing(border-box);
  padding:4px;
  .border-radius(2px);
  background:@stream-avatar-background;
  border:1px solid darken(@stream-avatar-background,6%);
  .box-shadow(0px 2px 1px rgba(0,0,0,0.04));
}

.joms-stream-content {
  padding-left: 80px;
  header {
    padding-bottom:10px;
  }
}

.joms-edit-post {
	width:100%;
	resize:none;
	height:96px;
	border:1px solid #eaeaef;
	background:#f9f9f9;
	font-size:98.5%;
	.border-radius(2px);
	.box-shadow(none);
}

.joms-comment {
  margin-top:12px;
  background:#eee;
  padding:12px;
}

.joms-comment-header {
  background:#dedede;
  padding:12px;
  margin:-12px -12px 12px;

}

.joms-comment-item {
  overflow:hidden;
  border-bottom:1px solid #dedede;
  padding:10px 0px;
  &:last-child {
    border-bottom:none;
  }
}

.joms-comment-avatar {
  width:40px;
  float:left;
}

.joms-comment-content {
  padding-left:50px;
}

.joms-share-meta {
  font-size: 13px;
  color: #b2b2b2;
  // &.date {

  // }
}

.joms-share-privacy {
  text-transform: capitalize;
}
.joms-stream-privacy {
  &.joms-privacy-dropdown {
  	float: none;
  	display: inline-block;
	  margin-right: 0;
	  margin-top: 0;
  }

  button {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    color: #b2b2b2;
  }
  &.open, &:hover {
    button {
      color: #333;
    }
  }
}
.joms-stream-status-action {
	a {
		color: #aaa;
		margin-right: 5px;
		&:hover, &:focus {
			color: #333;
			text-decoration: none;
			background: none;
		}
	}
}
.joms-stream-privacy button .dropdown-caret {
	&[class^="joms-icon-"]:before, &[class*=" joms-icon-"]:before {
		margin-left: 0 !important;
		margin-right: 0 !important;
		width: auto;
	}
}
.gm-style {
	.gmnoprint {
		display: none;
	}
	.gm-style-cc {
		display: none;
	}
}
.joms-status-location {
	color: #888;
}

// admin options on activy stream
.joms-stream-options {
	position:absolute;
	top:8px;
	right:0;
  button {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    color: #b2b2b2;
		[class^="joms-icon-"]:before {
			width:5px;
		}

  }
  &.open, &:hover {
    button {
      color: #333;
    }
  }

	.dropdown-menu {
		right:0 !important;
		left:inherit !important;
		top:24px;
		font-size:12px;
		min-width:120px;
		.border-radius(4px);
		li > a {
			color:#aaa;
			padding:4px 12px;
			&:hover {
				color:#eee;
			}
		}
		.divider {
			border-bottom:1px solid @stream-options-divider;
		}
	}
}

// stream box
.joms-stream-box {

	border:@stream-box-border;
	.box-sizing('border-box');
	.box-shadow( 0px 1px 2px rgba(0,0,0,0.1));
	color:#7f8c8d;
	margin-bottom:18px;
	background:@stream-box-background;
	&:hover {
		border-color: darken(#e3e3e3,4%);
		.box-shadow( 0px 1px 4px rgba(0,0,0,0.1));

		.joms-icon-thumbnail:before {
			color:@stream-box-thumbnail-color;
		}

	}

	.separator {
		height:1px;
		width:100%;
		margin:6px 0px;
		background:@stream-box-separator;
	}

	aside {
		width:80px;
		float:left;
		text-align:center;
	}

	article {
		margin-left:80px;
		padding:12px 12px 12px 0px;
		> a {
			font-size:16px;
			font-weight:normal;
			text-decoration: none;
			color:@linkColor;
			&:hover {
				color:@linkColorHover;
			}
		}
	}

	.joms-icon-thumbnail:before {
		font-size:40px;
		margin:0px;
		color:#95a5a6;
		margin-top:24px;
	}

	.joms-stream-thumb {
		width:100%;
		max-width: 160px;
		float: left;
		margin-right: 15px;
	}

	&.joms-fetch-wrapper {
		margin: 12px 0;
		padding: 12px 15px;
		&:hover {
			.box-shadow( 0px 1px 2px rgba(0,0,0,0.1));
		}
	}
	.joms-stream-fetch-content a {
		font-weight: normal;
	}

	.content-details {
		margin-top:10px;
		color:darken(#7f8c8d,4%);
		font-size:12px;
		font-weight:bold;
		i {
			margin-right:4px;
			font-weight:normal;
		}
	}

}

.joms-stream-fetch-content {
	.joms-stream-fetch-desc {
		line-height: 1.6;
	}
	.joms-stream-fetch-title {
		font-size: 16px;
		font-weight: 400;
		margin: 0 0 5px 0;
		display: block;
		color: @linkColor;
		&:hover {
			color:@linkColorHover;
		}
	}

	cite {
		color: #888;
		display: block;
		font-size: 11px;
		text-transform: uppercase;
		margin: 5px 0 0 0;
		&:before {
			content: "—";
			display: inline-block;
			margin-right: 5px;
		}
	}
}

.joms-fetch-shared {
	img {
		max-width:100%;
		width:100%;
		.box-sizing(border-box);
	}
	article {
		overflow:hidden;
	}
}

.joms-stream-single-photo {
	// padding: 6px;
	display: inline-block;
	margin-bottom:10px;
	max-width:560px;
	width:100%;
	// border: @stream-box-border;
	// .box-shadow( 0px 1px 2px rgba(0,0,0,0.1));
	// background:@stream-box-background;

	&.portrait {
		max-width:320px;
	}

	&.landscape {
		max-width:560px;
	}

	&.square {
		max-width:480px;
	}

	img {
		display: block;
		overflow: hidden;
		width:100%;
	}
}

.joms-stream-multi-photo {
	max-width:560px;
	.joms-stream-single-photo a {
		max-height: 200px;
		display: block;
		overflow: hidden;
	}
}

.joms-stream-multi-photo-hero {
	margin-bottom:2%;
}

.feed-photos .joms-stream-reference {
	position: absolute;
	background: #3498db;
	color: white;
	text-decoration: none;
	font-size: 12px;
	padding: 4px 10px;
	&:hover {
		background:#2980b9;
	}
}

.joms-stream-icon {
	color: #b2b2b2;
	font-size: 16px;
}
ul.joms-stream-event-details.joms-stream-box.joms-fetch-wrapper {
	margin-top: 0;
	padding: 10px 0;
	li {
		line-height: 2;
	}
}
.joms-stream-event-join-select {
	width: auto;
	vertical-align: middle;
	min-width: 80px;
	margin-left: 20px;
	margin-bottom: 0;
}
.joms-stream-event-join {
	margin-bottom: 20px;
}

// cssclean
// .joms-hide-options {
// 	margin-left: 80px;
// 	background: #fbfbfc;
// 	border: 1px solid #ddd;
// 	.border-radius(3px);
// 	.box-shadow( 0 2px 1px rgba(0,0,0,0.1));
// 	.joms-hide-inner {
// 		padding: 10px;
// 	}
// 	.joms-hide-hint {
// 		margin-bottom: 5px;
// 	}
// 	.joms-hide-all {

// 	}
// 	a {
// 		font-weight: bold;
// 		&:hover {
// 			background: none;
// 			color: @linkColorHover;
// 		}
// 	}
// 	a.joms-hide-close {
// 		cursor: pointer;
// 		position: absolute;
// 		top: 0;
// 		right: 0;
// 		width: 24px;
// 		height: 34px;
// 		display: block;
// 		text-align: center;
// 		line-height: 24px;
// 		color: #b2b2b2;
// 		font-weight: normal;
// 		&:hover {
// 			text-decoration: none;
// 			color: inherit;
// 		}
// 		i, i:before {
// 			line-height: inherit;
// 			display: block;
// 		}
// 	}
// }

.joms-load-latest {
	background:@stream-load-latest-background;
	text-align:center;
	border:@stream-load-latest-border;
	padding:4px 0px;
	font-size:12px;
	margin-top:6px;
	&:hover {
		background:@stream-load-latest-background-hover;
	}
	a {
		color:#95a5a6;
		&:hover {
			text-decoration: none;
			color:darken(#95a5a6,6%);
		}
	}
}

.stream-comment {
	.joms-stream-box {
		width:96%;
		border:none;
		background:#fafafa;
	}
}

// 3.2 Responsive Utilities
// ==========================
.portrait-phone-only {
	display:none;
}