/* *
* @copyright (C) 2013 iJoomla, Inc. - All rights reserved.
* @license GNU General Public License, version 2 (http://www.gnu.org/licenses/gpl-2.0.html)
* @author iJoomla.com <webmaster@ijoomla.com>
* @url https://www.jomsocial.com/license-agreement
* The PHP code portions are distributed under the GPL license. If not otherwise stated, all images, manuals, cascading style sheets, and included JavaScript *are NOT GPL, and are released under the IJOOMLA Proprietary Use License v1.0
* More info at https://www.jomsocial.com/license-agreement */

@page-avatar:160px;
@border-color-default: #e5e5e5;
@button-radius: 3px;
.cPageActions {
	//border-bottom: 1px solid @border-color-default;
	margin: 0 0 20px;
	// padding: 0 0 15px;
	text-align: right;
	font-size: 0;
	.cFloat-L + .cFloat-L {
		margin: 0 0 0 10px;
	}
}
.cPageOwner {
	font-size: 11px;
	padding-top: 5px;
}
.cPageAction {
	> div {
		background: @cpage-action-background;
		.border-radius( 0 );
		display: inline-block;
		&:first-child {
			-webkit-border-top-left-radius: @button-radius;
			-moz-border-radius-topleft: @button-radius;
			border-top-left-radius: @button-radius;
			-webkit-border-bottom-left-radius: @button-radius;
			-moz-border-radius-bottomleft: @button-radius;
			border-bottom-left-radius: @button-radius;
		}
		&:last-child {
			-webkit-border-top-right-radius: @button-radius;
			-moz-border-radius-topright: @button-radius;
			border-top-right-radius: @button-radius;
			-webkit-border-bottom-right-radius: @button-radius;
			-moz-border-radius-bottomright: @button-radius;
			border-bottom-right-radius: @button-radius;
		}
		a, a:hover {
			font-size: 11px;
			background: none !important;
			display: inline-block;
			text-decoration: none !important;
			height: 20px;
			line-height: 20px;
			padding: 4px 6px;
		}
	}
}
.cPageMeta {
	font-size: 11px;
}
.cPageHeader {
	padding: 0 0 20px;
	overflow: hidden;
	&.otherProfile {
		border-bottom: 0;
	}
}
@pageLikeSpace: 40px;
@pageAvatarFat: 3px;
.cPageAvatar {
	border: 1px solid #ccc;
	border-bottom-color: #aaa;
	padding: @pageAvatarFat;
	position: relative;
	margin-bottom: @pageLikeSpace;
	> div {
		img {
			width: @page-avatar;
			height: auto;
		}
		b {
			bottom: 10px;
			display: none;
			left: 0;
			position: absolute;
			text-align: center;
			width: 100%;
			a {
				background: #666;
				background: rgba(0, 0, 0, 0.7);
				.border-radius( 3px );
				color: #fff;
				display: inline-block;
				line-height: 15px;
				font-weight: normal;
				padding: 10px 15px;
				text-decoration: none;
				&:hover {
					background: #222;
					background: rgba(0, 0, 0, 0.85);
				}
			}
		}
		&:hover {
			b{display: block;
			}
		}
	}
	.cPage-Like {
		position: absolute;
		bottom: -@pageLikeSpace;
		left: -@pageAvatarFat+2;
	}
}
.cPageInfo {
	margin: 0 0 0 (@page-avatar + 25);
}
.cPageInfo-Status {
	border-bottom: 1px solid #ddd;
	padding: 0 0 10px;
	margin: 10px 0;
}
.cPageInfo-List {
	li {
		+ li {
			margin-top: 7px;
		}
		> b {
			line-height: 1.1;
		}
	}
}
.cPageToolbox {
	background: #f5f5f5;
	border: 1px solid #ccc;
	border-bottom-color: #bbb;
	.border-radius( 3px );
	.box-shadow( 0 1px 0 rgba(0, 0, 0, 0.05) );
	padding: 5px 0 0;
	margin: 0 0 10px;
	li {
		// width: 33.33335%;
	}
	a {
		background: none;
		border: 1px solid transparent;
		.border-radius( 3px );
		color: #444 !important;
		display: block;
		margin: 0 0 5px 5px;
		padding: 3px 5px;
		text-decoration: none !important;
		&:hover {
			background: #eee;
			border-color: #ddd;
		}
	}
}
.cPageStory-Editor {
	border-top: 1px solid #ddd;
	padding-top: 20px;
	margin-top: 20px;
}
.cPageTabs {
	border-bottom: @cpage-tabs-border-bottom;
	padding: 15px 0;
	margin: 0 0 10px;
	background: @cpage-tabs-background;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 7px;
	border: @cpage-tabs-border;
	li {
		+ li {
			margin: 0 0 0 5px;
		}
		a {
			.border-radius( 3px );
			color: @cpage-tabs-color;
			display: inline-block;
			font-size: 90%;
			line-height: 1.2;
			padding: 8px 10px;
			text-decoration: none;
			&:hover {
				background: none;
				color: @cpage-tabs-color;
				text-decoration: underline;
			}
		}
		&.cTabCurrent {
			a{background: @cpage-tabs-current-background;
				color: @cpage-tabs-current-color;
				text-decoration: none !important;
			}
		}
		&.cTabDisabled {
			a{color: #999;
				cursor: default;
			}
		}
	}
}
.cTabsContentWrap {
	.cTabsContent {
		display: none;
		&.cTabsContentCurrent {
			display: block;
		}
	}
}
@field-spacing: 13px;
.cField {
	+ .cField {
		margin: @field-spacing 0 0;
		padding: @field-spacing 0 0;
		border-top: 1px solid #ddd;
	}
	.cField-Title {
		font-size: 12px;
		font-weight: bold;
		margin-bottom: @field-spacing;
	}
	.cField-Name {
		font-family: inherit;
		font-size: 90%;
		font-weight: normal;
		color: #999;
		margin: 0 0 3px;
	}
	.cField-List {
		li + li {
			margin-top: 10px;
		}
	}
}
.cPageAdmin {
	background-color: #F2DEDE;
	border: 1px solid #cda6ab;
	padding: 10px;
	margin: 0 0 20px;
	li + li {
		border-left: 1px dotted #cda6ab;
		padding: 0 0 0 10px;
		margin: 0 0 0 10px;
	}
	a {
		background: none !important;
		color: #ae3e4c !important;
		text-decoration: none;
		font-size: 90%;
		&:hover {
			text-decoration: underline;
		}
	}
}
.cPageOptions {
	margin: 0 0 0 10px;
	li {
		margin: 0 0 5px;
	}
}
.cInvite-Relations {
	margin-top: 3px;
	font-size: 11px;
}
.cInvite-Actions {
	margin-top: 5px;
}

/* * GROUPS * */
.cEvent-Activity, .cGroup-Activity {
}
// Block and List User 3.2
.joms-blocked-ignored {
	li {
		.box-sizing(border-box);
		clear: both;
		position: relative;
		border-bottom: 1px solid rgba(0, 0, 0, 0.06);
		padding: 8px 0px;
		&:last-child {
			border-bottom: none;
		}
		img {
			width: 56px;
			height: 56px;
			float: left;
		}
		article {
			margin-left: 64px;
		}
		p {
			margin-bottom: 0px;
			color: #ccc;
		}
	}
	.joms-action {
		li {
			margin-right: 6px;
			display: inline;
			border-bottom: none;
		}
	}
}