/* *
* @copyright (C) 2013 iJoomla, Inc. - All rights reserved.
* @license GNU General Public License, version 2 (http://www.gnu.org/licenses/gpl-2.0.html)
* @author iJoomla.com <webmaster@ijoomla.com>
* @url https://www.jomsocial.com/license-agreement
* The PHP code portions are distributed under the GPL license. If not otherwise stated, all images, manuals, cascading style sheets, and included JavaScript *are NOT GPL, and are released under the IJOOMLA Proprietary Use License v1.0
* More info at https://www.jomsocial.com/license-agreement */

@mediaThumb-Spacing:10px;
.cMedia-ThumbList {
	margin: 0 -(@mediaThumb-Spacing);
	li {
		width: 25%;
		&:hover {
			.cMedia-Actions {
				display: block;
			}
		}
	}
	.cMedia-Thumb {
		display: inline-block;
		position: relative;
	}
	.cMedia-Box {
		margin: 0 (@mediaThumb-Spacing) (@mediaThumb-Spacing*2);
	}
	&.Albums {
		*{text-align: center;
		}
	}
	&.Photos {
		.cMedia-Avatar {
			padding: 10px 0;
		}
	}
}
.cMedia-Avatar {
	background: @cmedia-avatar-background;
	text-align: center;
	position: relative;
	&:hover {
		.cMedia-Drag {
			display: block;
		}
	}
}
.cMedia-Actions, .cMedia-Controls, .cMedia-Summary {
	margin: 10px 0 0;
}
.cMedia-Title {
	margin: 0 0 5px;
	a, b {
		font-weight: bold;
		word-wrap: break-word;
	}
}
.cMedia-Actions {
	display: none;
	position: absolute;
	text-align: center;
	top: 75%;
	margin-top: -15px;
	width: 100%;
	> div {
		display: inline-block;
		background: #333;
		background: rgba(0, 0, 0, 0.7);
		font-size: 0;
		padding: 5px;
		.border-radius( 5px );
		a {
			background: none !important;
			display: inline-block;
			height: 20px;
			width: 20px;
		}
	}
}
.cMedia-Count {
	margin: 0 0 5px;
}
.cMedia-Tag, .cMedia-TagOptions {
	margin: 10px 0 0;
}
.cDragable {
	.dragged .cMedia-Box {
		background: darken(@cmedia-avatar-background, 10%);
		.border-radius(2px);
		border: 2px dashed #dadada;
	}
}
.cMedia-Drag {
	position: absolute;
	text-align: center;
	top: 105px;
	width: 100%;
	display: none;
}
.cDragControl {
	cursor: move;
	> i {
		background: url(../images/glyph/drag.png) center no-repeat;
		.square( 12px );
	}
}
.cMedia-Featured {
	background: url(../images/featured-ribbon.png);
	width: 24px;
	height: 24px;
	top: 0;
	left: 0;
	position: absolute;
}
.cMedia-PhotoCover {
	background: #eee;
	text-align: center;
	position: relative;
}
.cMedia-AlbumCover {
	background: @photo-album-cover-background;
	border: @photo-album-cover-border;
	display: inline-block;
	position: relative;
	.cPhotoAvatar {
		background: @photo-avatar-background !important;
		display: block;
		padding: 5px;
		img {
			display: block;
			.square( 128px );
			max-width: 100%;
		}
	}
}
.cMedia-VideoCover {
	background: #eee;
	text-align: center;
	position: relative;
}

/* ----- MEDIA OPTIONS:APPLIED IN \components\com_community\templates\default\photos.photo.php & videos.video.php ----- */
.cMedia-Option {
	background: @cmedia-option-background;
	border: @cmedia-option-border;
	.border-radius( 0 0 3px 3px );
	.box-shadow( 0 1px 0 rgba(0, 0, 0, 0.05) );
	margin: 0 0 20px;
	padding: 10px;
}
.cMedia-Options {
	color: @cmedia-option-color;
	font-size: 11px;
	margin: 4px 0;
	li {
		line-height: 20px;
		height: 20px;
		+ li {
			border-left: 1px dotted #ccc;
			margin: 0 0 0 10px;
			padding: 0 0 0 10px;
		}
		&.cFloat-R {
			border-left: 0;
		}
		> a {
			background: none !important;
			color: inherit !important;
			text-decoration: none !important;
			display: inline-block;
			height: 20px;
			line-height: 20px;
			vertical-align: middle;
			> i {
				margin: 0 2px 0 0;
			}
			&:hover {
				span {
					text-decoration: underline;
				}
			}
		}
	}
	.cMedia-Like {
		margin-top: -5px;
	}
}
.cMedia-Respond {
	padding-top: @mediaThumb-Spacing*2;
	//border-top: 1px solid #ddd;
}
.cMedia-TagPeople {
	> div {
		margin-top: 5px;
	}
}
.cMedia-Meta {
	.cMeta-Desc, .cMedia-TagPeople {
		//border-bottom: 1px solid #eee;
		margin-bottom: @mediaThumb-Spacing*1.5;
		padding-bottom: @mediaThumb-Spacing*1.5;
	}
	.cMeta-Avatar {
		.cAvatar {
			.square( 48px );
		}
	}
	.cMeta-Details {
		margin: 0 0 0 58px;
	}
}
.cMedia-Description {
	//border-top: 1px solid #eee;
	margin: 15px 0 25px;
	//padding-top: 15px;
	> b {
		display: block;
		margin-bottom: 15px;
	}
}

/* *--- VIDEO RELATED ---* */
.cVideo-Screen {
	text-align: center;
	background: #555;
	padding: 20px 0;
}

/* *--- PHOTO RELATED ---* */
.photoCaption {
	.photoCaptionText {
		border: 0;
		margin: @input-fat 0 0;
		padding: 0;
		resize: none;
		width: 100%;
		height: auto;
		&.editable {
			border: 1px dashed #ddd !important;
			padding: @input-fat;
			resize: vertical;
			&:focus {
				border-style: solid !important;
			}
		}
	}
}
// Media Utilities
// ===============
.img-half-width {
	width: 50% !important;
}