/* *
* @copyright (C) 2013 iJoomla, Inc. - All rights reserved.
* @license GNU General Public License, version 2 (http://www.gnu.org/licenses/gpl-2.0.html)
* @author iJoomla.com <webmaster@ijoomla.com>
* @url https://www.jomsocial.com/license-agreement
* The PHP code portions are distributed under the GPL license. If not otherwise stated, all images, manuals, cascading style sheets, and included JavaScript *are NOT GPL, and are released under the IJOOMLA Proprietary Use License v1.0
* More info at https://www.jomsocial.com/license-agreement */

.cToolBox {
	background: @toolbox-background;
	border: @toolbox-border;
	.border-radius( 3px );
	.box-shadow( 0 1px 0 rgba(0, 0, 0, 0.05) );
	padding: 14px;
	margin: 0 0 @toolbarMargin;
}
.cToolBox-Avatar {
	margin: 0 14px 0 0;
	img {
		.square( 42px );
	}
}
.cToolBox-Options {
	margin: 0px;
	float: right;
	li {
		margin: 0 0 0 7px;
		display: inline-block;
		a {
			background: none !important;
			text-decoration: none !important;
			display: inline-block;
			font-size: 11px;
			line-height: 20px;
			span {
				padding: 0 3px;
				.border-radius ( 3px )
			}
			&:hover span {
				background: #aaa;
				color: #fff;
			}
		}
	}
}