/**
* @copyright (C) 2013 iJoomla, Inc. - All rights reserved.
* @license GNU General Public License, version 2 (http://www.gnu.org/licenses/gpl-2.0.html)
* @author iJoomla.com <webmaster@ijoomla.com>
* @url https://www.jomsocial.com/license-agreement
* The PHP code portions are distributed under the GPL license. If not otherwise stated, all images, manuals, cascading style sheets, and included JavaScript *are NOT GPL, and are released under the IJOOMLA Proprietary Use License v1.0
* More info at https://www.jomsocial.com/license-agreement
*/

.hero-area {
  .border-radius(6px 6px 0px 0px);
  .text-shadow();
  color:#fefefe;
  position:relative;
  display:block;
  width:100%;
  overflow:hidden;
  .box-sizing(border-box);

  .hero-area-wrapper {
    display: block;
    width: 100%;
    position: relative;
    height: 0;
    padding: 41.14% 0 0 0;
    overflow: hidden;
  }

  .hero-area-bg {
    position: absolute;
    display: block;
    min-width:100%;
    min-height:100%;
    width:auto;
    height:auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  h1 {
    .text-shadow(0px 0px 4px #222);
    font-weight:bold !important;
    font-size:28px;
    border:none;
  }

  p {
    font-size:16px;
  }

  .content {
    padding:20px;
    position:absolute;
    bottom:0px;
    width:100%;
    .box-sizing(border-box);
  }

  .content-cta {
    background:rgba(0,0,0,0.4);
    padding:20px;
    .box-sizing(border-box);
    margin:20px -20px -20px;
  }

}

.cGuest {
	margin: 0 0 20px;
  .box-shadow(inset 0px 1px 0px rgba(255,255,255,0.6));

  .login-area {
    background:@login-background;
    padding:20px;
    border:@login-border;
    border-top:none;
    .border-radius(@login-border-radius);
    label {
      color:@login-reminder-link;
    }
  }

  .reminder-link {
    padding:6px;
    text-decoration:none;
    color:@login-reminder-link;
    background:none;
    font-size:12px;
    position:relative;
    top:4px;
    text-align:right;
    &:hover {
      color:lighten(@login-reminder-link,10%);
      background:none;
    }
  }
}

.fb-wrapper {
  display:inline-block;
  padding:20px 0px 0px;
}
