/**
* @copyright (C) 2013 iJoomla, Inc. - All rights reserved.
* @license GNU General Public License, version 2 (http://www.gnu.org/licenses/gpl-2.0.html)
* @author iJoomla.com <webmaster@ijoomla.com>
* @url https://www.jomsocial.com/license-agreement
* The PHP code portions are distributed under the GPL license. If not otherwise stated, all images, manuals, cascading style sheets, and included JavaScript *are NOT GPL, and are released under the IJOOMLA Proprietary Use License v1.0
* More info at https://www.jomsocial.com/license-agreement
*/

/**- STREAMS -**/
@windowStreamSpacing		: 10px;
@windowAvatarSize			: 32px;

.cWindowNotification + .cWindowNotification
{
	margin: 15px 0 0;
}
.cWindowNotification-Jumper {

	margin: 15px 0 0;
	padding: 10px 0 0;

}

.cWindowStream
{
	> li
	{
		display: inline-block;
		width: 100%;

		+ li
		{
			border-top: @cwindow-stream-border;
			margin-top: 7px;
			padding-top: 7px;
		}
	}
}
.cStream-Avatar img
{
	.square( @windowAvatarSize );
}
.cStream-Content
{
	margin: 0 0 0 (@windowAvatarSize + @windowStreamSpacing);
}
.cStream-Actions
{
	margin: 3px 0 0;
}
.cStream-Author,
.cStream-Title
{
	font-weight: bold;
}