/**
* @copyright (C) 2013 iJoomla, Inc. - All rights reserved.
* @license GNU General Public License, version 2 (http://www.gnu.org/licenses/gpl-2.0.html)
* @author iJoomla.com <webmaster@ijoomla.com>
* @url https://www.jomsocial.com/license-agreement
* The PHP code portions are distributed under the GPL license. If not otherwise stated, all images, manuals, cascading style sheets, and included JavaScript *are NOT GPL, and are released under the IJOOMLA Proprietary Use License v1.0
* More info at https://www.jomsocial.com/license-agreement
*/

.cApp-Item
{
	.border-radius( 3px );
	border: 1px solid #ddd;
	border-bottom-color: #cacaca;
	padding: 10px;
	overflow: hidden;

	+ .cApp-Item
	{
		margin-top: 10px;
	}
}
.cApp-Content
{
	margin: 0 0 0 60px;
}
.cApp-Description
{
	margin: 0 80px 0 0;
}
.cApp-Avatar
{
	margin: 0 0 0 -60px;
}
.cApp-Title
{
	margin: 0 0 10px;
}