/**
* @copyright (C) 2013 iJoomla, Inc. - All rights reserved.
* @license GNU General Public License, version 2 (http://www.gnu.org/licenses/gpl-2.0.html)
* @author iJoomla.com <webmaster@ijoomla.com>
* @url https://www.jomsocial.com/license-agreement
* The PHP code portions are distributed under the GPL license. If not otherwise stated, all images, manuals, cascading style sheets, and included JavaScript *are NOT GPL, and are released under the IJOOMLA Proprietary Use License v1.0
* More info at https://www.jomsocial.com/license-agreement
*/

.cWindowFinder
{
	padding: 10px 20px 10px 10px;
	border-bottom:@cwindow-finder-border;

	.input.text
	{
		width:100%;
		padding: 4px;
	}
}
.cWindow-X
{
	background: url(../images/cross.png) center no-repeat;
	display: inline-block;
	height: 15px;
	width: 15px;
}
.cUserGrid
{
	li
	{
		width: 33.33333%;
		margin: 0 0 10px;
	}

	.invitation-check
	{
		display: none;
	}

	li:hover .cGrid-Check
	li.invitation-item-invited .cGrid-Check
	{
		display: block;
	}
}
.cGrid-Info {
	margin: 0 5px 0 50px;
	b {
		color: #333;
		display: block;
		line-height: 14px;
		max-height: 26px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
	}
}

.cGrid-Avatar {
	max-width:40px;
	width:100%;
}

.cGrid-Check
{
	margin-top: 3px;
	font-size: 11px;

	.label-checkbox
	{
		padding: 0 0 0 20px;
		font-size:12px;
		input[type="checkbox"]
		{
			margin-left:-20px;
			float:left;
		}
	}
}

/**- BASIC ELEMENTS -**/

a {
	font-weight: inherit;
	text-decoration: none;
}

a:hover
{
	background-color: transparent;
	text-decoration: underline;
}

small,
.small {
	font-size: 11px !important;
}

.cEmpty.cAlert { margin:0; }
.cFormList{ margin-bottom: 0; }

.cVideo-Player {
	background: #555;
	padding: 20px 0;
	text-align: center;

	* {
		display: inline-block;
	}
}


/*JQUERY UI STYLING OVERIDE*/

.ui-tabs
{
	> div
	{
		padding: 10px;
	}
}

/* Invitation Tab Navigation */
.cTabNav {
	margin-top: 10px;
	padding: 0;
	list-style: none;
	height: 25px; /*--Set height of tabs--*/
	border-bottom:@cwindow-tabnav-border ;
	padding-left:10px;
	font-size:11px;
}

.cTabNav li {
	display:inline-block;
	padding: 2px 10px;
	height: 20px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 20px; /*--Vertically aligns the text within the tab--*/
	border:@cwindow-tabnav-button-border;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	background: #808080;
	overflow:hidden;
	position:relative;
	margin-right:5px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	color:white;
	cursor:pointer;
}

.cTabNavContainer div.active{display:block;}

.cTabNav li a {
	text-decoration:none;
	color:white;
}
.cTabNav li a:hover {
	background:none;
}

.cTabNav .active {
	background:#424242;
}

.cTabNav .active a {
	background:#424242;
	outline:none;
}

.cTab {
	background: @cwindow-tab-background;
	padding: 10px;
	height: 200px;
	overflow:auto;
}



.invitation-option .textarea-label-right a {
	background:#808080;
	color:white;
	text-decoration:none;
	padding:5px 10px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	font-size:12px;
}

.invitation-option .textarea-label-right a:hover {
	background:#424242;
}

.cTabNavContainer {margin:0;height:210px;}
.cTabNavContainer.cGroups-FilesListing {height:300px;overflow: auto;}

#community-invitation-list .span3 {
	min-height:60px;
	&:nth-child(4n+1) {
		margin-left:0px;
	}
}

#community-invitation-loadmore {margin-top:8px;}
li:hover .invitation-wrap {background: #f7f7f7;}

.invitation-option {
	border-top: @cwindow-invitation-option-border;
	padding:10px;
	background:@cwindow-invitation-option-background;
	margin-top:26px;
}

.invitation-option #emailToggle { margin-top:10px; cursor:pointer; text-decoration:underline; }
.invitation-option #messageToggle { margin-top:-10px;}
.invitation-option #messageContainer { margin-bottom:10px;}
.invitation-option .option {
	padding: 10px 0 0;
}
.textarea-label {
	height: 20px;
	line-height: 20px;
	font-size: 12px !important;
	padding-bottom: 5px;
	position: relative;
}
.textarea-label-right {
	position: absolute;
	line-height: 20px;
	height: 20px;
	top: 0;
	right: 0;
	text-align: right;
}
.textarea-wrap {
	border: 1px solid #ccc;
	background: #fff;
	padding: 5px;
	margin: 0;
	overflow: hidden;

	textarea
	{
		background: none !important;
		border: 0 !important;
		overflow: none;
		margin: 0;
		padding: 0;
		height: 60px;
		font: 12px/20px Tahoma,Arial,sans-serif;
		width: 100%;
	}
}
.invitation-bg {
	margin: -10px;
	background: @cwindow-invitation-background;
	padding-bottom: 10px;
}
#invitation-error {
	position: absolute;
	bottom: 0px;
	left: 0;
	height: 20px;
	line-height: 20px;
	color: #c00;
	margin-left: 10px;
	margin-top:20px;
}


/* Group's File Listing */
.fsearchWrap {position: absolute;background:#eee;top: 0px;left: 0px;width:580px;height: 51px;padding:10px;}
.fsearchWrap input[type=text]{ width:95%;border:none;padding:5px;outline:none; }
.head-note {height: 20px;line-height: 20px;background: #eee;border-bottom: 1px solid #ccc;padding: 5px 8px;margin: 0;}
.cGroups-FilesListing {margin-top:36px;}
.cGroups-FilesListing ul {list-style-type:none !important;margin:0;padding:0;border-bottom:none;}
.cGroups-FilesListing .cTab.active {padding-top:10px;}
.cGroups-FilesListing .cTabContainer {overflow:auto;height:275px;}
.cGroups-FilesListing li {position:relative;line-height:18px;margin-bottom:10px;}
.cGroups-FilesListing li .download {position:absolute;right:5px;top:15px;}
.cGroups-FilesListing li .download a {text-decoration:none;color:#fefefe;background:#444;padding:5px 10px 5px 7px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.cGroups-FilesListing li .download a:hover {background:#222;}
.cGroups-FilesListing li div {padding:0 10px 0 30px;}
.cGroups-FilesListing li .cIcon {position:absolute;left:0px;top:5px;}
.cGroups-FilesListing li .filename {margin-right:5px;font-weight:bold;}
.cGroups-FilesListing li .info {font-size:95%;font-style:italic;color:#999;}
.cGroups-FilesListing li .uploaded {font-size:95%;}
.cGroups-FilesListing li .cIcon {width:24px;height:24px;}
.cGroups-FilesListing li .cIcon.images {background:url('../images/extension_sprite.png') 72px 0px;}
.cGroups-FilesListing li .cIcon.multimedia {background:url('../images/extension_sprite.png') 24px 0px;}
.cGroups-FilesListing li .cIcon.archive {background:url('../images/extension_sprite.png') 0px 0px;}
.cGroups-FilesListing li .cIcon.document {background:url('../images/extension_sprite.png') 96px 0px;}
.cGroups-FilesListing li .cIcon.miscellaneous {background:url('../images/extension_sprite.png') 48px 0px;}
.cGroups-FilesListing #load-more-btn a {text-align:center;background:#eee;display:block;padding:10px 10px;margin-top:10px;}
.cGroups-FilesListing #load-more-btn a:hover {background:#ccc;}
.cGroups-FilesListing .noFiles {text-align:center;display:block;padding:5px 10px;font-size:25px;margin-top:100px;color:#bbb;}

/* Avatar cropper */

#avatar-cropper
{
	border-top: 1px solid #e5e5e5;
	padding-top: 15px;
	margin: 15px 0;

	#thumb-crop,
	#thumb-preview
	{
		display: inline-block;
		vertical-align: top;
	}
	#thumb-preview
	{
		margin: 0 0 0 15px;
	}
}

.joms-show-location {
	  .gradient-vertical(@postbox-post-button-gradient-top, @postbox-post-button-gradient-bottom);
    .border-radius(2px);
    .box-shadow(@postbox-post-button-shadow);
    color:@postbox-post-button-color;
    border:@postbox-post-button-border;
    &:hover, &:active, &:focus {
      .gradient-vertical(@postbox-post-button-gradient-reverse-top, @postbox-post-button-gradient-reverse-top);
      .box-shadow(none);
    }
}