/**
* @copyright (C) 2013 iJoomla, Inc. - All rights reserved.
* @license GNU General Public License, version 2 (http://www.gnu.org/licenses/gpl-2.0.html)
* @author iJoomla.com <webmaster@ijoomla.com>
* @url https://www.jomsocial.com/license-agreement
* The PHP code portions are distributed under the GPL license. If not otherwise stated, all images, manuals, cascading style sheets, and included JavaScript *are NOT GPL, and are released under the IJOOMLA Proprietary Use License v1.0
* More info at https://www.jomsocial.com/license-agreement
*/

/**- BOOKMARK OPTIONS -**/

.js-bookmarks
{
	li {
		margin-bottom: 10px;
		float: left;
		width: 33.2%;
	}
	li a {
		background: transparent url(../images/bookmarks.gif) no-repeat 0 0;
		display: inline-block;
		line-height: 16px;
		padding-left: 24px;
	}
	li a.newsvine {
		background-position: 0 0
	}
	li a.stumbleupon {
		background-position: 0 -20px
	}
	li a.technorati {
		background-position: 0 -40px
	}
	li a.twine {
		background-position: 0 -60px
	}
	li a.twitter {
		background-position: 0 -80px
	}
	li a.xanga {
		background-position: 0 -100px
	}
	li a.ybookmarks {
		background-position: 0 -120px
	}
	li a.aim {
		background-position: 0 -140px
	}
	li a.bebo {
		background-position: 0 -160px
	}
	li a.blinklist {
		background-position: 0 -180px
	}
	li a.blogmarks {
		background-position: 0 -200px
	}
	li a.delicious {
		background-position: 0 -220px
	}
	li a.digg {
		background-position: 0 -240px
	}
	li a.diigo {
		background-position: 0 -260px
	}
	li a.facebook {
		background-position: 0 -280px
	}
	li a.faves {
		background-position: 0 -300px
	}
	li a.friendster {
		background-position: 0 -320px
	}
	li a.furl {
		background-position: 0 -340px
	}
	li a.google {
		background-position: 0 -360px
	}
	li a.linkedin {
		background-position: 0 -380px
	}
	li a.live {
		background-position: 0 -400px
	}
	li a.myspace {
		background-position: 0 -420px
	}
}