/**
* @copyright (C) 2013 iJoomla, Inc. - All rights reserved.
* @license GNU General Public License, version 2 (http://www.gnu.org/licenses/gpl-2.0.html)
* @author iJoomla.com <webmaster@ijoomla.com>
* @url https://www.jomsocial.com/license-agreement
* The PHP code portions are distributed under the GPL license. If not otherwise stated, all images, manuals, cascading style sheets, and included JavaScript *are NOT GPL, and are released under the IJOOMLA Proprietary Use License v1.0
* More info at https://www.jomsocial.com/license-agreement
*/

/* Zoomable maps */
.cMap
{
	display:none;
	overflow:hidden; 
	position:relative
}
.cMapHeatzone
{
	height:40px; 
	position:absolute; 
	width:30px; 
	z-index:21
}
.cMapFade
{
	margin-bottom:4px; 
	min-height:150px; 
	position:relative;
	overflow: hidden;

	img
	{
		position:absolute; 
		z-index:10
	}
}
.cMapFiller
{
	position:absolute; 
	width:100%; 
	z-index:20
}
.cMapBigger
{
	display: block;
	margin-top: 3px;
}