/**
* @copyright (C) 2013 iJoomla, Inc. - All rights reserved.
* @license GNU General Public License, version 2 (http://www.gnu.org/licenses/gpl-2.0.html)
* @author iJoomla.com <webmaster@ijoomla.com>
* @url https://www.jomsocial.com/license-agreement
* The PHP code portions are distributed under the GPL license. If not otherwise stated, all images, manuals, cascading style sheets, and included JavaScript *are NOT GPL, and are released under the IJOOMLA Proprietary Use License v1.0
* More info at https://www.jomsocial.com/license-agreement
*/

/* advance search criteria really need some attention */

.advance-search {
	padding:10px;
	background:@cpage-advancesearch-background;
	border:@cpage-advancesearch-border;
}

#optionContainer {
	> div {
		margin-bottom:15px;
	}

  .criteria-option-btm {
  	padding:10px;
  }

	.add {
		background: none !important;
		color: inherit;
		display: inline-block;
		text-decoration: none;
		margin: 0 0 0 5px;
	}
}

.criteria-row {
	padding-left:30px;
	position: relative;

	> div
	{
		display: inline-block;
		float: left;

		+ div { margin: 0 0 0 5px; }
	}
	.delete-row
	{
		position: absolute;
		left: 5px;
		top: 5px;

		a { background: none !important; }
	}
}