
@font-face {
  font-family: 'jomsocial';
  src:url('../font/jomsocial.eot');
  src:url('../font/jomsocial.eot?#iefix') format('embedded-opentype'),
    url('../font/jomsocial.woff') format('woff'),
    url('../font/jomsocial.ttf') format('truetype'),
    url('../font/jomsocial.svg#jomsocial') format('svg');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+00-FFFF;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


 [class^="joms-icon-"]:before, [class*=" joms-icon-"]:before {
  font-family: "jomsocial";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: inherit;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

}

.joms-icon-exit:before {
  content: "\e600";
}
.joms-icon-happy:before {
  content: "\e601";
}
.joms-icon-smiley:before {
  content: "\e602";
}
.joms-icon-tongue:before {
  content: "\e603";
}
.joms-icon-sad:before {
  content: "\e604";
}
.joms-icon-wink:before {
  content: "\e605";
}
.joms-icon-grin:before {
  content: "\e606";
}
.joms-icon-cool:before {
  content: "\e607";
}
.joms-icon-angry:before {
  content: "\e608";
}
.joms-icon-evil:before {
  content: "\e609";
}
.joms-icon-shocked:before {
  content: "\e60a";
}
.joms-icon-confused:before {
  content: "\e60b";
}
.joms-icon-neutral:before {
  content: "\e60c";
}
.joms-icon-wondering:before {
  content: "\e60d";
}
.joms-icon-happy2:before {
  content: "\e60e";
}
.joms-icon-wondering2:before {
  content: "\e60f";
}
.joms-icon-smiley2:before {
  content: "\e610";
}
.joms-icon-tongue2:before {
  content: "\e611";
}
.joms-icon-sad2:before {
  content: "\e612";
}
.joms-icon-wink2:before {
  content: "\e613";
}
.joms-icon-grin2:before {
  content: "\e614";
}
.joms-icon-cool2:before {
  content: "\e615";
}
.joms-icon-angry2:before {
  content: "\e616";
}
.joms-icon-evil2:before {
  content: "\e617";
}
.joms-icon-shocked2:before {
  content: "\e618";
}
.joms-icon-confused2:before {
  content: "\e619";
}
.joms-icon-neutral2:before {
  content: "\e61a";
}
.joms-icon-search:before {
  content: "\e61b";
}
.joms-icon-star:before {
  content: "\e61c";
}
.joms-icon-star-empty:before {
  content: "\e61d";
}
.joms-icon-ok:before {
  content: "\e61e";
}
.joms-icon-remove:before {
  content: "\e61f";
}
.joms-icon-cog:before {
  content: "\e620";
}
.joms-icon-camera:before {
  content: "\e621";
}
.joms-icon-lock:before {
  content: "\e622";
}
.joms-icon-trash:before {
  content: "\e623";
}
.joms-icon-tag:before {
  content: "\e624";
}
.joms-icon-tags:before {
  content: "\e625";
}
.joms-icon-play-circle:before {
  content: "\e626";
}
.joms-icon-facetime-video:before, .joms-icon-videocam:before {
  content: "\e627";
}
.joms-icon-picture:before {
  content: "\e628";
}
.joms-icon-pencil:before {
  content: "\e629";
}
.joms-icon-pause:before {
  content: "\e62a";
}
.joms-icon-play:before {
  content: "\e62b";
}
.joms-icon-stop:before {
  content: "\e62c";
}
.joms-icon-angle-left:before {
  content: "\e62d";
}
.joms-icon-angle-right:before {
  content: "\e62e";
}
.joms-icon-angle-up:before {
  content: "\e62f";
}
.joms-icon-angle-down:before {
  content: "\e630";
}
.joms-icon-caret-down:before {
  content: "\e631";
}
.joms-icon-caret-up:before {
  content: "\e632";
}
.joms-icon-caret-left:before {
  content: "\e633";
}
.joms-icon-caret-right:before {
  content: "\e634";
}
.joms-icon-envelope-alt:before {
  content: "\e635";
}
.joms-icon-play-sign:before {
  content: "\e636";
}
.joms-icon-calendar-empty:before {
  content: "\e637";
}
.joms-icon-bullhorn:before {
  content: "\e638";
}
.joms-icon-upload-alt:before {
  content: "\e639";
}
.joms-icon-folder-close:before {
  content: "\e63a";
}
.joms-icon-folder-open:before {
  content: "\e63b";
}
.joms-icon-comments:before {
  content: "\e63c";
}
.joms-icon-unlock:before {
  content: "\e63d";
}
.joms-icon-globe:before {
  content: "\e63e";
}
.joms-icon-wrench:before {
  content: "\e63f";
}
.joms-icon-link:before {
  content: "\e640";
}
.joms-icon-edit:before {
  content: "\e641";
}
.joms-icon-thumbs-down:before {
  content: "\e642";
}
.joms-icon-thumbs-up:before {
  content: "\e643";
}
.joms-icon-youtube-play:before {
  content: "\e644";
}
.joms-icon-share:before, .joms-icon-forward:before {
  content: "\e645";
}
.joms-icon-user:before {
  content: "\e646";
}
.joms-icon-download-alt:before {
  content: "\e647";
}
.joms-icon-volume-off:before {
  content: "\e648";
}
.joms-icon-volume-down:before {
  content: "\e649";
}
.joms-icon-volume-up:before {
  content: "\e64a";
}
.joms-icon-cloud-upload:before {
  content: "\e64b";
}
.joms-icon-file-text:before {
  content: "\e64c";
}
.joms-icon-map-marker:before {
  content: "\e64d";
}
.joms-icon-home:before {
  content: "\e64e";
}
.joms-icon-comment:before {
  content: "\e64f";
}
.joms-icon-file:before {
  content: "\e650";
}
.joms-icon-calendar:before {
  content: "\e651";
}
.joms-icon-plus:before {
  content: "\e652";
}
.joms-icon-plus-sign:before {
  content: "\e653";
}
.joms-icon-minus:before {
  content: "\e654";
}
.joms-icon-minus-sign:before {
  content: "\e655";
}
.joms-icon-warning-sign:before {
  content: "\e656";
}
.joms-icon-check-empty:before {
  content: "\e657";
}
.joms-icon-check:before {
  content: "\e658";
}
.joms-icon-radio-unchecked:before {
  content: "\e659";
}
.joms-icon-radio-checked:before {
  content: "\e65a";
}
.joms-icon-eye:before {
  content: "\e65b";
}
.joms-icon-user2:before {
  content: "\e65c";
}
.joms-icon-users:before {
  content: "\e65d";
}
.joms-icon-user-add:before {
  content: "\e65e";
}
