/**
* @copyright (C) 2013 iJoomla, Inc. - All rights reserved.
* @license GNU General Public License, version 2 (http://www.gnu.org/licenses/gpl-2.0.html)
* @author iJoomla.com <webmaster@ijoomla.com>
* @url https://www.jomsocial.com/license-agreement
* The PHP code portions are distributed under the GPL license. If not otherwise stated, all images, manuals, cascading style sheets, and included JavaScript *are NOT GPL, and are released under the IJOOMLA Proprietary Use License v1.0
* More info at https://www.jomsocial.com/license-agreement
*/

@toolbar-button-padding:6px 12px;
@toolbar-height:20px;
@counter-background:#3498db;
@counter-color:white;
@counter-padding:4px 6px;
@icon-area-padding:6px;

// hide the text on privacy options button
#permission-placeholder {
	display:none;
}

// Email listing
#inbox-listing td {
	padding: 8px;
	line-height: 18px;
	text-align: left;
	vertical-align: top;
}

#community-wrap #taggingAutocompleteContainer
{
	height: 38px !important;
	min-height: 38px !important;

	input#photoTagQuery
	{
		height: 30px !important;
		padding: 0 6px;
		margin: 3px !important;
	}
}
body div.autocomplete-w1
{
	background: none;
	border: 0;
	padding: 0;
	margin-left: -4px !important;
	margin-top: 0 !important;

	.autocomplete
	{
		background: #fff;
		border: 1px solid #222;
		border-top: 0;
		padding-top: 5px;
		width: 200px !important;
		max-height:100% !important;
		margin-top:3px;
		> div
		{

			width: auto;
			padding: 5px;
			cursor: pointer;
			font-size: 12px;

			&:hover
			{
				background: #ffc;
			}

			img
			{
				float: left;
				height: 30px;
				width: 30px;
			}
			span
			{
				color: #555;
				display: block;
				height: 30px;
				line-height: 30px;
				margin: 0 0 0 35px;
				overflow: hidden;
				white-space: nowrap;
				text-align: left;
				text-overflow: ellipsis;

				strong { color: #095197;}
			}
		}
	}
}

/*----- FIX CALENDAR FORM DISPLAY -----*/

.calendar td.button
{
	display: table-cell;
}

/** Ajax **/
body #community-wrap div.ajax-wait {
	background-image: url(../images/wait.gif);
	width: 16px;
	height: 16px;
}

/* Register view */

#community-wrap .jsPasswordStrength {
	margin-left: 10px;
	padding: 2px 5px;
	display: inline-block;
	color: #000;
}
#community-wrap .jsPasswordStrength_1 {
	background-color: #FCB6B1;
}
#community-wrap .jsPasswordStrength_2 {
	background-color: #FCCAB1;
}
#community-wrap .jsPasswordStrength_3 {
	background-color: #FCFBB1;
}
#community-wrap .jsPasswordStrength_4 {
	background-color: #DAFCB1;
}
#community-wrap .jsPasswordStrength_5 {
	background-color: #BCFCB1;
}

body .qtip small {
	font-size: 11px !important;
}
body .qtip hr {
	height: 1px
}

/* prevents FB button from missing on hover */
body #community-wrap a.fb_button_medium:hover {
	background: url("http://static.ak.fbcdn.net/rsrc.php/v1/zL/r/FGFbc80dUKj.png") no-repeat scroll 0 -188px #29447E !important;
}


/* Tipsy library */
.tipsy{padding:5px; font-size:10px; opacity:0.8; filter:alpha(opacity=80); background-repeat:no-repeat; background-image:url(../images/tipsy.gif);}
.tipsy-inner{padding:5px 8px 4px 8px; background-color:black; color:white; max-width:200px; text-align:center}
.tipsy-inner{-moz-border-radius:3px; -webkit-border-radius:3px}
.tipsy-north{background-position:top center}
.tipsy-south{background-position:bottom center}
.tipsy-east{background-position:right center}
.tipsy-west{background-position:left center}

/* Joomla calendar tweak */
.calendar .button {
	float:inherit;
}

#errjsusernamemsg {
	color:red;
}

/* Since 3.2 */


.textntags-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: transparent;

	.textntags-beautifier {
	  position: relative;
	  padding: 0;
	  color: @textntags-beautifier-color;
	  white-space: pre-wrap;
	  word-wrap: break-word;

		> div {
		  color: @textntags-beautifier-color;
		  white-space: pre-wrap;
		  width: 100%;
		  font-family: inherit;
		  font-size: inherit;
		  line-height: inherit;

			> strong {
			  font-weight: normal !important;
			  background: @textntags-strong-background;
			  line-height: inherit;

			  > span {
  				filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
				}
			}

		}

	}

	.textntags-tag-list {
	  display: none;
	  background: @textntags-background;
	  border:@textntags-border;
	  position: absolute;
	  left: 0;
	  right: 0;
	  z-index: 10000;
	  margin: -2px 0 0 0 !important;
	  padding: 0 !important;

	  border-top-right-radius:0;
	  border-top-left-radius:0;

	  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.148438);
	     -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.148438);
	          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.148438);

		ul {
		    margin: 0 !important;
		    padding: 0 !important;
		}

		li {
		  background-color: @textntags-background;
		  padding: 0 5px;
		  margin: 0;
		  width: auto;
		  border-bottom:@textntags-list-border;
		  height: 33px !important;
		  line-height: 33px !important;
		  overflow: hidden;
		  cursor: pointer;
		  list-style: none;
		  white-space: nowrap;

			em {
			  font-weight: bold;
			  font-style: none;
			}

		  > img, div.icon {
			  width: 24px;
			  height: 24px;
			  float: left;
			  margin-top:5px;
			  margin-right: 5px;
			  margin-left: 5px;
			  -moz-background-origin:3px;
			  border-radius:3px;
			}

			&:hover, &.active {
				background-color: @textntags-hover-background;
			}

			b {
			  background: @textntags-b-background;
			  font-weight: normal;
			}

		}

	}

}


@-moz-document url-prefix() {
  .textntags-wrapper textarea {
    left: -1px !important;
    right: -1px !important;
  }
}
