//
// Checkbox & Radio
// --------------------------------------------------

.joms-checkbox,
.joms-radio {
  margin-bottom: 12px;
  padding-left: 32px;
  position: relative;

  input {
    outline: none !important;
    display: none;
  }

  // Replace icons
  // --------------------------------------------------
  .icons {
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 20px;

    .first-icon,
    .second-icon {
      position: absolute;
      left: 0;
      top: 0;
    }

  }

}
