.ui-datepicker {
  width: 264px;
  display: none;
  margin: 15px 0 0 -5px;

  // Navigation pad
  .ui-datepicker-header {
    cursor: default;
    margin: -7px -7px 2px;
    position: relative;
    .border-radius(3px 3px 0 0);
  }
  .ui-datepicker-prev,
  .ui-datepicker-next {
    position: absolute;
    top: 0;
    width: 52px;
    height: 44px;
    text-align: center;
    cursor: pointer;

    &.ui-state-disabled {
      cursor: default;
    }
  }
  .ui-datepicker-prev {
    left: 0;
    .border-radius(3px 0 0 0);
  }
  .ui-datepicker-next {
    right: 0;
    .border-radius(0 3px 0 0);
  }
  .ui-datepicker-title {
    margin: 0 52px;
    line-height: 44px;
    text-align: center;
    font-size: 14px; //
    font-weight: bold;
  }
  .ui-datepicker-prev span,
  .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    top: 50%;
    margin-top: -6px;
    text-indent: -9999px;
    width: 0;
    height: 0;
    content: "";
  }
  .ui-icon-circle-triangle-w {
    border: inset transparent;
    border-width: 7px 12px 7px 0;
  }
  .ui-icon-circle-triangle-e {
    border: outset transparent;
    border-width: 7px 0 7px 12px;
  }

  // General styling
  table {
    font-size: 14px;
    margin: 0 0 3px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
  }
  th {
    min-width: 34px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    border: 0;
    padding: 1px;
    vertical-align: middle;
  }
  td {
    border: 0;
    padding: 1px;
    text-align: center;
    vertical-align: middle;

    span,
    a {
      display: block;
      text-decoration: none;
      height: 30px;
      line-height: 30px;
      min-width: 34px;
    }
  }

  // Aditional elements
  select {
    font-size: 1em;
    margin: 1px 0;
  }
  select.ui-datepicker-month-year {
    width: 100%;
  }
  select.ui-datepicker-month,
  select.ui-datepicker-year {
    width: 49%;
  }
  .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }
  .ui-datepicker-buttonpane button {
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible;
  }
   .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
  }

  &:before {
    content: "";
    border-style: solid;
    border-width: 0 6px 6px;
    height: 0;
    margin-top: 0;
    opacity: 1;
    position: absolute;
    left: 12px;
    top: -13px;
    width: 0;
    z-index: 10;
  }
  &.ui-datepicker-multi {
    width: auto;
  }
}

// Multiple calendars
.ui-datepicker-multi {
  .ui-datepicker-group {
    float: left;
  }
  .ui-datepicker-group table {
    width: 95%;
    margin: 0 auto .4em;
  }
  .ui-datepicker-group-last,
  .ui-datepicker-group-middle {
    .ui-datepicker-header {
      border-left-width: 0;
    }
  }
  .ui-datepicker-buttonpane {
    clear: left;
  }
}
.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}
.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0;
}