

@highdpi: ~"(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)";

.at2x(@path, @w: auto, @h: auto) {
  background-image: url(@path);
  @at2x_path: ~`@{path}.replace(/\.\w+$/, function(match) { return "@2x" + match; })`;

  @media @highdpi {
    background-image: url("@{at2x_path}");
    background-size: @w @h;
  }
}

.joms-status-emoticon {

	&:before {
		margin:-1px !important;
		padding:0px;
		font-size:16px;
		position:relative;
		top:2px;
	}

	color:#4e4e4e;
	.border-radius(50px);
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FFEF08),
		color-stop(1, #FFCC00)
	);
	background-image: -o-linear-gradient(bottom, #FFEF08 0%, #FFCC00 100%);
	background-image: -moz-linear-gradient(bottom, #FFEF08 0%, #FFCC00 100%);
	background-image: -webkit-linear-gradient(bottom, #FFEF08 0%, #FFCC00 100%);
	background-image: -ms-linear-gradient(bottom, #FFEF08 0%, #FFCC00 100%);
	background-image: linear-gradient(to bottom, #FFEF08 0%, #FFCC00 100%);

	&.joms-icon-evil2 {

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.2, #F20000),
		color-stop(1, #BD0000)
	);
	background-image: -o-linear-gradient(bottom, #F20000 20%, #BD0000 100%);
	background-image: -moz-linear-gradient(bottom, #F20000 20%, #BD0000 100%);
	background-image: -webkit-linear-gradient(bottom, #F20000 20%, #BD0000 100%);
	background-image: -ms-linear-gradient(bottom, #F20000 20%, #BD0000 100%);
	background-image: linear-gradient(to bottom, #F20000 20%, #BD0000 100%);
	}

	&.joms-icon-angry2 {

		background-image: -webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0, #FFAA00),
			color-stop(1, #FFEA05)
		);
		background-image: -o-linear-gradient(bottom, #FFAA00 0%, #FFEA05 100%);
		background-image: -moz-linear-gradient(bottom, #FFAA00 0%, #FFEA05 100%);
		background-image: -webkit-linear-gradient(bottom, #FFAA00 0%, #FFEA05 100%);
		background-image: -ms-linear-gradient(bottom, #FFAA00 0%, #FFEA05 100%);
		background-image: linear-gradient(to bottom, #FFAA00 0%, #FFEA05 100%);

	}

	&.joms-icon-cool2 {
		background-image: -webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0, #2FF0FA),
			color-stop(1, #05C1FF)
		);
		background-image: -o-linear-gradient(bottom, #2FF0FA 0%, #05C1FF 100%);
		background-image: -moz-linear-gradient(bottom, #2FF0FA 0%, #05C1FF 100%);
		background-image: -webkit-linear-gradient(bottom, #2FF0FA 0%, #05C1FF 100%);
		background-image: -ms-linear-gradient(bottom, #2FF0FA 0%, #05C1FF 100%);
		background-image: linear-gradient(to bottom, #2FF0FA 0%, #05C1FF 100%);
	}

	&.joms-icon-heart {
		background-image:none;
		color:#ff7add;
		text-shadow:0px 1px 0px #e000a7;
		font-size:13px;
	}


}

.joms-emoticon {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	.at2x('../images/emo.png', 140px, 180px);

	&.joms-emo-laugh {
		background-position: 0 0px;
	}
	&.joms-emo-happy {
		background-position: -20px 0px;
	}
	&.joms-emo-giggle {
		background-position: -40px 0px;
	}
	&.joms-emo-smile {
		background-position: -60px 0px;
	}
	&.joms-emo-pretty {
		background-position: -80px 0px;
	}
	&.joms-emo-wink {
		background-position: -100px 0px;
	}
	&.joms-emo-loved {
		background-position: -120px 0px;
	}

	&.joms-emo-love-whistle {
		background-position: 0 -20px;
	}
	&.joms-emo-blush-whistle {
		background-position: -20px -20px;
	}
	&.joms-emo-whistle {
		background-position: -40px -20px;
	}
	&.joms-emo-happy-whistle {
		background-position: -60px -20px;
	}
	&.joms-emo-tongue-wink {
		background-position: -80px -20px;
	}
	&.joms-emo-tongue-happy {
		background-position: -100px -20px;
	}
	&.joms-emo-tongue {
		background-position: -120px -20px;
	}
	&.joms-emo-surprised {
		background-position: 0 -40px;
	}
	&.joms-emo-irretated {
		background-position: -20px -40px;
	}
	&.joms-emo-huff {
		background-position: -40px -40px;
	}
	&.joms-emo-bored {
		background-position: -80px -40px;
	}
	&.joms-emo-ohno {
		background-position: -120px -40px;
	}
	&.joms-emo-sad {
		background-position: 0 -60px;
	}
	&.joms-emo-happy-tear {
		background-position: -20px -60px;
	}
	&.joms-emo-cry {
		background-position: -40px -60px;
	}
	&.joms-emo-sleepy {
		background-position: -60px -60px;
	}
	&.joms-emo-sad {
		background-position: -100px -40px;
	}
	&.joms-emo-worry {
		background-position: -100px -60px;
	}
	&.joms-emo-relieved {
		background-position: -120px -60px;
	}
	&.joms-emo-upset {
		background-position: -20px -80px;
	}
	&.joms-emo-very-sad {
		background-position: -40px -80px;
	}
	&.joms-emo-shocked {
		background-position: -80px -80px;
	}
	&.joms-emo-angry {
		background-position: -120px -80px;
	}
	&.joms-emo-exhale {
		background-position: 0 -100px;
	}
	&.joms-emo-annoyed {
		background-position: -20px -100px;
	}
	&.joms-emo-excited {
		background-position: -40px -100px;
	}
	&.joms-emo-yummy {
		background-position: -60px -100px;
	}
	&.joms-emo-sick {
		background-position: -80px -100px;
	}
	&.joms-emo-sunglass {
		background-position: -100px -100px;
	}
	&.joms-emo-tired {
		background-position: -120px -100px;
	}
	&.joms-emo-eye-cross {
		background-position: -20px -120px;
	}
	&.joms-emo-confuse {
		background-position: -80px -120px;
	}
	&.joms-emo-devil {
		background-position: -100px -120px;
	}
	&.joms-emo-devil-angry {
		background-position: -120px -120px;
	}
	&.joms-emo-wow {
		background-position: 0 -140px;
	}
	&.joms-emo-grin-worry {
		background-position: -20px -140px;
	}
	&.joms-emo-speechless {
		background-position: -40px -140px;
	}
	&.joms-emo-meh {
		background-position: -60px -140px;
	}
	&.joms-emo-woo {
		background-position: -80px -140px;
	}
	&.joms-emo-speachless {
		background-position: -100px -140px;
	}
	&.joms-emo-blessed {
		background-position: -120px -140px;
	}

}