.white-popup {
  position: relative;
  background: #FFF;
  width: auto;
  max-width: 600px;
  margin: 20px auto;
}
.joms-popup-header {
  background: #333;
  color: #fff;
  padding: 10px 20px;
}
.joms-popup-body {

}
.joms-popup-write-status {
}
.joms-request li {
  margin-bottom:20px;
}

.joms-request-avatar {
  width:60px;
  float:left;
}

.joms-request-content {
  padding-left:70px;
}
#joms-share-popup, .joms-share-popup {
  position: relative;
  textarea {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100% !important;
    resize: none !important;
    min-height: 120px;
    //border-bottom: 1px dashed #ccc;
    margin-bottom: 20px;
    &:focus {
      .box-shadow(none);
      background: @postbox-input-background;
    }
  }

  .joms-share-status-preview {
    padding: 20px;
    margin-top: 10px;
    background:rgba(0,0,0,0.02);
  }
  .joms-popup-footer {
    background: #f9f9f9;
    padding: 10px 20px;
    margin-top: 20px;
  }

  .joms-privacy-dropdown {
    display: inline-block;
  }
  .joms-share-status-username {
    font-size: 12px;
    color: #aaa;
    font-weight: bold;
  }

  .joms-share-status-privacy {
     box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    float: none;
    margin-right: 0;
    margin-top: 0;
    position: relative;
    *, *:after, *:before {
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
    }
    button {
      background: none;
      border: none;
      box-shadow: none;
    }
    .dropdown-caret:before {
      margin: 0;
    }
    .dropdown-menu {
      a {
        padding: 5px 10px;
        i {
          margin-right: 5px;
        }
        &:hover, &:focus {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
  .joms-char-count {
    position: absolute;
    right: 0px !important;
    bottom: -10px !important;
  }

}

.joms-share-popup {

  .joms-privacy-dropdown ul.dropdown-menu {
    a:hover {
      text-decoration: none !important;
      color: #fff !important;
    }
  }
}

#joms-share-popup {
  .joms-stream-multi-photo {
    img {
      margin:0;
      max-width:100%;
      display:block;
    }

    .joms-stream-single-photo {
      width:auto;
    }
  }
  .joms-stream-multi-photo-hero {
    img {
      max-width:100%;
      margin:0;
    }
  }
}


#photo-uploader {
  .joms-share-status-action {
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
  }
  #new-album, #select-album {
    display: inline-block;
  }

  .joms-album-privacy, .joms-share-status-privacy {
     box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    float: none;
    margin-right: 0;
    margin-top: 0;
    position: relative;
    *, *:after, *:before {
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
    }
    button {
      height:30px;
      .border-radius(3px);
      border: 1px solid #eee;
    }
    .dropdown-caret:before {
      margin: 0;
    }
    .dropdown-menu {
      a {
        padding: 5px 10px;
        i {
          margin-right: 5px;
        }
        &:hover, &:focus {
          text-decoration: none;
        }
      }
    }
  }
}