/**
* @copyright (C) 2013 iJoomla, Inc. - All rights reserved.
* @license GNU General Public License, version 2 (http://www.gnu.org/licenses/gpl-2.0.html)
* @author iJoomla.com <webmaster@ijoomla.com>
* @url https://www.jomsocial.com/license-agreement
* The PHP code portions are distributed under the GPL license. If not otherwise stated, all images, manuals, cascading style sheets, and included JavaScript *are NOT GPL, and are released under the IJOOMLA Proprietary Use License v1.0
* More info at https://www.jomsocial.com/license-agreement
*/

.joms-postbox {
	.box-sizing(border-box);
	position:relative;
	margin-bottom:24px;
}

.inputbox {
    background: transparent;
    border: 0 none;
		.box-sizing(border-box);
    margin: 0;
    padding: 0;
    width: 100%;
    .wrap {
        position: relative;
    }
    .input {
        display: inline-block;
        max-width: 100%;
        min-height: 1em;
    }
    textarea.input {
        background: none;
        outline: none;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        resize: none;
        width: 100%;
    }
    span.input {
        color: rgba(0,0,0,0);
    }

}

.inputbox .input,.inputbox .attachment {
    border: 0 none !important;
    border-radius: 0 !important;
    font-family: inherit !important;
    font-size: inherit !important;
    line-height: inherit !important;
    margin: 0 !important;
    padding: 0 !important;
    word-wrap: break-word !important;
}



.joms-postbox-input {
	min-height:32px;
	width:100%;
	.box-sizing(border-box);
	padding:12px;
	.border-radius(3px 3px 0px 0px);
	position:relative;
	word-wrap:break-word;
	textarea {
		box-shadow: none;
		outline: none;
		height: 18px;
		background:transparent;
	}
}

.joms-postbox-input-text {
	outline:none;
	word-wrap:break-word;
}

.joms-postbox-charcount {
	position:absolute;
	top:0px;
	right:0px;
	font-size:9px;
	padding:0px 4px;
	background:@postbox-charcount-background;
	.border-radius(0px 3px 0px 0px);
	line-height:16px;

}

.joms-postbox-tab {
	li {
		float:left;
		display:block;
		cursor:pointer;
		padding:6px;
		position:relative;
		&.active {
			&:after {
				position: absolute;
				content:"";
				width: 0px;
				height: 0px;
				top:-3px;
				left: 50%;
			}
			&:before {
				position: absolute;
				content:"";
				width: 0px;
				height: 0px;
				top:-1px;
				left: 50%;
			}
		}
	}
	span {
		margin-left:4px;
		margin-right:6px;
		float:right;
	}

	&.selected {
		.border-radius(0px 0px 3px 3px);
		li {
			height:32px;
			line-height:32px;
			padding:0px 8px;
			&.active {
				&:before, &:after {
					content:none;
				}
			}
		}
	}

}

.joms-postbox-action {
	position:absolute;
	right:5px;
	bottom:5px;
	button {
		padding:0px 12px;
		font-size:12px;
		line-height:20px;
		outline:none;
	}
	&.event-action {
		right:14px;
		bottom:10px;
	}
}

.joms-postbox-dropdown {
	width:96%;
	.box-sizing(border-box);
	position:absolute;
	top:100%;
	left:2%;
	padding:8px;
	z-index:10;
	color:#7f8c8d;

	li {
		cursor:pointer;
		padding:4px 8px;
		line-height:18px;
		.border-radius(3px);
		&:hover {
			background:@postbox-dropdown-hover-background;
		}
	}
	p {
		font-size:13px;
		font-weight:bold;
		i:before {
			font-size:11px;
			margin:0px;
			margin-right:4px;
		}
	}
	span {
		font-size:11px;
	}

	.joms-postbox-keyword {
		width:100%;
		.border-radius(0px);
		.box-sizing(border-box);
		position:relative;
		border:1px solid @postbox-input-border-color;
		margin:6px 0px;
		.box-shadow(none);
		&:focus {
			.box-shadow(inset 0px 1px 4px rgba(0,0,0,0.06));
			border-color:darken(@postbox-input-border-color,4%);
		}
	}


	input {
		.border-radius(2px) !important;
	}

	.event-time-column {
		width:50%;
		float:left;
		.box-sizing(border-box);
		padding:6px;
		input[type=text], input:hover[type=text] {
			cursor:pointer !important;
			min-height:0 !important;
			.box-sizing(border-box) !important;
		}
	}

	.event-all-day {
		margin-left:6px;
		cursor:pointer;
		position:relative;
		i {
			font-size:14px;
			&:before {
				position:absolute;
				top:0px;
			}
		}
	}
}

.joms-postbox-emoticon {
	display:block;
	li {
		width:25%;
		display:block;
		float:left;
		.box-sizing(border-box);
		padding:4px;
		cursor:pointer;
		div {
			padding:2px 4px;
		}
		span {
			margin-left:4px;
		}
	}
	.joms-remove-button {
		cursor:pointer;
		width:100%;
		margin-top:6px;
		text-align:center;
		.border-radius(3px);
		border:1px solid #dedede;
		background:#fafafa;
		&:hover {
			background:#fff;
		}
	}
}

.joms-postbox-locations {
	max-height:140px;
	overflow-y:auto;
}

.joms-location-action {
	position:absolute;
	top:16px;
	right:16px;
}

.joms-postbox-preview{
	.box-sizing(border-box);
	background:@postbox-preview-background;
	border:none;
	border-bottom:@postbox-preview-border;
	padding:12px;
}

.joms-postbox-photo-preview {

	.joms-postbox-photo-item {
		float:left;
		display:block;
		width:25%;
		.box-sizing(border-box);
		padding:8px;
		position:relative;
		.img-wrapper {
			.box-shadow(0px 2px 4px rgba(0,0,0,0.06));
			.box-sizing(border-box);
			padding:4px;
			border:@postbox-photo-item-border;
			display:block;
			background:@postbox-photo-placeholder;
			img {
				visibility:hidden;
			}
		}
	}

	.joms-postbox-photo-action {
		text-align: center;
		background: @postbox-photo-item-action-background;
		position: absolute;
		top:12px;
		right:12px;
		padding: 4px;
		.border-radius(0px 0px 0px 4px);
		span {
			color:#7f8c8d;
			cursor:pointer;
			&:hover {
				color:#2980b9;
			}
		}
	}
}

.joms-postbox-photo-progressbar {
	position:absolute;
	bottom:14px;
	left:14px;
	right:14px;
	height:6px;
	.joms-postbox-photo-progress {
		background:#3498db;
		height:6px;
		width:0px;
	}
}

.joms-postbox-select-album {
	margin:8px;
}

.joms-postbox-inner-panel {
	.border-radius(3px 3px 0px 0px);
	background:@postbox-panel-background;
	padding:12px;
	border-bottom:1px solid @postbox-input-border-color;
	color:@postbox-input-color;
	.default-text {
		color:#aaa;
	}
}

.joms-postbox-photo-upload {
	cursor:pointer;
	.border-radius(3px);
	text-align:center;
	font-size:11px;
	height:40px;
	line-height:40px;
	font-weight:bold;
	text-transform: uppercase;
	&:hover {
		background:@postbox-panel-background-hover;
	}
}

.joms-postbox-double-panel {
	li {
		width:50%;
		float:left;
		font-size:11px;
		text-align:center;
		cursor:pointer;
		line-height:40px;
		height:40px;
		font-weight:bold;
		text-transform: uppercase;
		.box-sizing(border-box);
		&:hover {
			background:@postbox-panel-background-hover;
		}

		&.joms-postbox-video-upload {
			line-height:30px;
			span {
				font-size:8px;
				font-weight:normal;
				line-height:0px;
				display:block;
			}
		}

		+ li {
		border-left:1px solid @postbox-panel-border-color;
		}
	}
}

.joms-postbox-event-title {
	padding-bottom:8px;
}

.joms-postbox-event-description {
	padding-top:8px;
	border-top:@postbox-event-border;
}

.joms-input-field-name {
	font-weight:bold;
}

.joms-fetched-close {
	cursor:pointer;
	position:absolute;
	top:12px;
	left:0px;
	padding:1px 4px;
	border:1px solid #dadada;
	background:#fafafa;
	font-size:11px;
}

.joms-fetched-wrapper  {
	margin-top:12px;
	padding-top:12px;
	border-top:1px dashed #dadada;
	position:relative;
}

.joms-fetched-images {
	max-width:120px;
	width:100%;
	float:left;
}

.joms-fetched-field {
	margin-left:130px;
	input, textarea {
		display:none;
		width:100%;
		border:1px solid @postbox-input-border-color;
		background:lighten(@postbox-input-background,4%);
		font-size:95%;
		color:@postbox-input-color;
		.box-shadow(none);
		.box-sizing(border-box);
		.border-radius(2px);
	}
	textarea {
		resize:none;
		min-height:70px;
	}
	&.joms-fetched-description {
		height:70px;
		overflow:hidden;
	}
}

.joms-postbox-custom {
	textarea {
		width:100%;
		resize:none;
	}
}

.joms-postbox-loading {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	text-align: center;
	display: block;
	height: 32px;
	line-height: 32px;
	background: @postbox-loading-background;
	.border-radius(0 0 2px 2px);

}