/**
 *------------------------------------------------------------------------------
 * @package       T3 Framework for Joomla!
 *------------------------------------------------------------------------------
 * @copyright     Copyright (C) 2004-2013 JoomlArt.com. All Rights Reserved.
 * @license       GNU General Public License version 2 or later; see LICENSE.txt
 * @authors       JoomlArt, JoomlaBamboo, (contribute to this project at github
 *                & Google group to become co-author)
 * @Google group: https://groups.google.com/forum/#!forum/t3fw
 * @Link:         http://t3-framework.org
 *------------------------------------------------------------------------------
 */

* a:hover {
  color: #555;
}

.logo-text {

  h1 {
    color: @orange;
  }

  h1 a {
    color: @orange;
    text-decoration: none;
  }

  h1 a:hover,
  h1 a:active,
  h1 a:focus {
    text-decoration: none;
    color: #333;
  }

}

.t3-mainbody {

}

// ---------------------------------------------------------
// NAV
// ---------------------------------------------------------
.t3-mainnav {
  border-top: 1px solid rgba(255,255,255,.3);
  border-bottom: 1px solid rgba(255,255,255,.3);
  box-shadow: 0 0 0 rgba(0,0,0,0);

  .navbar-inner {
    box-shadow: 0 0 0 rgba(0,0,0,0);
  }

  .navbar .nav > li > a,
  .navbar .nav > li > span {
    box-shadow: 0 0 0 rgba(0,0,0,0);
  }
}

.t3-mainnav .navbar .nav > .active > a,
.t3-mainnav .navbar .nav > .active > a:hover,
.t3-mainnav .navbar .nav > .active > a:focus,
.t3-mainnav .navbar .nav > .active > span,
.t3-mainnav .navbar .nav > .active > span:hover,
.t3-mainnav .navbar .nav > .active > span:focus {
  background: @orange;
}

// ---------------------------------------------------------
// MODULES
// ---------------------------------------------------------
#community-wrap {
  a {
    color: @orange;
  }

  .cFeaturedTitle a, .cSubmenu li a, .cSubmenu li a.active, .js-focus .js-focus-menu a  {
    color:@orange;
    &:hover {
      color:darken(@orange,10%);
    }
  }

}

#community-wrap .js-toolbar-mods,
#community-tb-wrap.community-toolbar,
#community-wrap .js-toolbar-mods .navbar-inner,
#community-tb-wrap.community-toolbar .navbar-inner {
  background: @toolbarbg;
  border-bottom: 1px solid rgba(0,0,0,.1);
  box-shadow: none;
}

#community-wrap .js-toolbar-mods .navbar-inner,
#community-tb-wrap.community-toolbar .navbar-inner {
  box-shadow: 0 0 0 rgba(0,0,0,0);
  border-bottom: 0 none;
}

.t3-sidebar .cModule ul.community-event li .cThumb-Calendar,
.t3-sidebar .t3-module ul.community-event li .cThumb-Calendar {
  background: @menubg;
}

.t3-sidebar .cModule ul.community-event li .cThumb-Calendar b + b,
.t3-sidebar .t3-module ul.community-event li .cThumb-Calendar b + b {
  background: @orange;
}

#community-tb-wrap.community-toolbar.toolbar-login {
  box-shadow: 0 1px 2px rgba(0,0,0,.4);
}


#community-wrap .js-toolbar-mods,
#community-tb-wrap.community-toolbar {

  .nav > li > a  {
    color: #ddd !important;

    &:hover {
      color: @orange !important;
    }

    i {

    }
  }

  .user-info {
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    a {
      h3 {
      }

      &:hover {
        h3 {
          color: @orange;
        }
      }
    }
  }

  input[type="text"],
  input[type="password"] {
    background-color: #222;
    color: #ccc;
  }

  .toolbar-search {
    .input-prepend.input-block-level > input,
    .input-append.input-block-level > input,
    .input-prepend.input-block-level > input,
    .input-append.input-block-level > input {
      background-color: #222;
    }

    .btn {
      border: 0 none;
      border-left: 1px solid #333;
      color: #ddd;
      background-color: #222;
      box-shadow: 0 0 0 rgba(0,0,0,0);
      text-shadow: 0 0 0 rgba(0,0,0,0);

      &:hover {
        color: @orange;
      }
    }
  }
}


// ---------------------------------------------------------
// NAVHELPER
// ---------------------------------------------------------
.t3-navhelper {
  background: 0 none;

  .breadcrumb {
    border-bottom: 1px dotted #ccc;
  }
}

// ---------------------------------------------------------
// FOOTER
// ---------------------------------------------------------

.t3-footer {
  background: @linkColor;
  color: @white;
  // links
  a {
    color: lighten(@linkColor,50%);
  }
  a:hover, a:active, a:focus {
    color: @white;
  }

  .small, small {
    color: @white;
  }

  .t3-copyright {
    box-shadow: 0 0 0 rgba(0,0,0,0);
    background: @grayDark;
    border-top: 1px solid rgba(255,255,255,.3);
  }
}

// Foot Nav
// --------
.t3-footnav .module-title {
  color: @white;
}


// Copyright
// ---------
.t3-copyright {
  border-top: 1px solid lighten(@linkColor,5%);
}

// Replace Button Primary Color

@import "../../../../../plugins/system/t3/base/bootstrap/less/mixins.less";

.btn-primary, #community-wrap .btn-primary {
  .buttonBackground(#E87400, lighten(saturate(#E87400,20%),5%)) !important;
}