/**
* @copyright (C) 2013 iJoomla, Inc. - All rights reserved.
* @license GNU General Public License, version 2 (http://www.gnu.org/licenses/gpl-2.0.html)
* @author iJoomla.com <webmaster@ijoomla.com>
* @url https://www.jomsocial.com/license-agreement
* The PHP code portions are distributed under the GPL license. If not otherwise stated, all images, manuals, cascading style sheets, and included JavaScript *are NOT GPL, and are released under the IJOOMLA Proprietary Use License v1.0
* More info at https://www.jomsocial.com/license-agreement
*/

// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------
@media (max-width: 767px) {
	@import "../00-responsive.less"; // this is temporary

	// Tipsy
	// -----
	.tipsy {
		display:none !important; //remove tipsy on mobile device
	}

	#community-wrap {

		#cFeatured {
			display:none !important;
		}

		.joms-stream {
			padding:32px 0px;
		}

		.joms-stream-options {
				top:8px;
		}

		// Toolbar
		// ----------
		.js-toolbar {
			.dropdown-menu {
				display:none !important;
			}
		}

		.cToolBox-Options {
			margin:12px 0 0 0;
			float:left;
			li
			{
				margin:0;
				display:block;
			}
		}

		// STREAM




		// affect on activity stream module
		// ---------------------------------
		// Photos Stream
		.js-stream-photos, .joms-stream-multi-photo {
			.span3 {
				float:left;
			  width: 23.404255319148934%;
			  *width: 23.351063829787233%;
			  margin-left: 2.127659574468085%;
  			*margin-left: 2.074468085106383%;
			}
			img {
				width:100%;
			}
		}

		.joms-fetch-wrapper {
			width:100%;
			max-width:320px;
		}

		.joms-fetch-shared {
			img {
				max-width:128px;
			}
		}

	.joms-postbox-tab {
	li {
		&.active {
			&:after {
				left: 30%;
				}
			&:before {
				left: 30%;
				}
			}
		}
	}

		// Cover Area
		// affect on cover area on profile, group, event page
		// --------------------------------------------------

		// .js-focus-cover {
		// 	overflow:visible;
		// }

		.js-focus-avatar {
			left:0px;
			width:auto;
			height:auto;
			max-width:70px;
			max-height:70px;
			margin-left:10px;
			top:-70px;
		}
		.js-focus-header {
			left:100px;
			right:0px;
			width:auto;
			height:auto;
			bottom:0px;
			.span4 {
				text-align:left !important;
				position:relative;
				margin-bottom:-6px;
			}
		}

		.js-focus-menu {
			padding:10px;
		}

		.js-focus-actions {
			position:relative;
		}

		.js-focus-cover{
		&:hover {
			.js-focus-change-cover {
				display:none;
				}
			}
		}

		.js-focus-avatar {
			&:hover {
				.js-focus-avatar-option {
					display:none !important;
				}
			}
		}

		.js-focus-content {
			.span3 {
				min-height:10px;
			}
		}

		// Search
		// affect on submenu search
		// -------------------------
		.cSubmenu-Search {
			margin:0px -8px;
			right:0;
		}

		// Video Thumb
		// -----------
		.cVideo-Thumb
		{
			margin-bottom:4px;
			img {
				max-width: 100%;
				height: auto;
				width:auto;
			}

			b {
				bottom:5px;
				left:75px;
				right:auto;
			}
		}

		.cMedia-ThumbList li {
			&:hover {
				.cMedia-Actions {
					display:none !important;
				}
			}
		}


	} // #community-wrap end

}