/**
* @copyright (C) 2013 iJoomla, Inc. - All rights reserved.
* @license GNU General Public License, version 2 (http://www.gnu.org/licenses/gpl-2.0.html)
* @author iJoomla.com <webmaster@ijoomla.com>
* @url https://www.jomsocial.com/license-agreement
* The PHP code portions are distributed under the GPL license. If not otherwise stated, all images, manuals, cascading style sheets, and included JavaScript *are NOT GPL, and are released under the IJOOMLA Proprietary Use License v1.0
* More info at https://www.jomsocial.com/license-agreement
*/

// Responsive: Portrait phone
// ---------------------------

@media (max-width: 480px) {
	@import "../00-responsive.less"; // this is temporary
	@import "../00-responsive-tight.less"; // this is temporary

	#community-wrap {

		// STREAM
		// affect on activity stream module
		// ---------------------------------

		// general

		.portrait-phone-only {
			display:inherit;
		}

		.joms-stream-avatar {
			width:48px;
		}

		.joms-stream-content {
			padding-left:60px;
		}

		// Photos Stream
		.joms-stream-multi-photo {
			.span3 {
				float:left;
				width: 48.93617021276595%; // two column one row
	  		*width: 48.88297872340425%;
	  		margin-left:2.127659574468085%;
	  		&:nth-child(2n+1) {
	  			  margin-left: 0;
  					*margin-left: 0;
	  		}
			}
			.joms-stream-single-photo {
				padding:4px;
				margin-bottom:6px;
				margin-right:6px;
			}
			img {
				width:100%;
			}
		}

		.cStream-Video {
			.video-avatar {
				max-width:320px;
				position:relative;
				b {
					bottom:5px;
					right:5px !important;
					left:auto !important;
				}
			}
			.video-description {
				padding-left:0px;
			}
		}

		// Search
		// affect on submenu search
		// -------------------------
		.cSubmenu-Search {
			margin:0px -8px;
			right:0;
			input[type="text"] {
				width:120px;
			}
		}

		// Cover Area
		// affect on cover area on profile, group, event page
		// --------------------------------------------------

		.js-focus-avatar {
			left:0px;
			width:auto;
			height:auto;
			max-width:70px;
			max-height:70px;
			margin-left:10px;
		}
		.js-focus-header {
			.span5 h3 {
				font-size:14px;
			}
			.span4 {
				text-align:left !important;
				.btn {
					font-size:10px;
					padding:2px 6px;
				}
			}
		}

		.js-focus-menu {
			padding:10px;
			a {
				font-size:11px;
			}
		}

		// Page
		// ===============
		&.cGroups {
			.cFloatedList > li {
			float:none !important;
			display:block !important;
				a {
					display:block;
				}
			}
		}


		// New Postbox 3.2
		// ===============
		.joms-postbox-photo-preview {
			.joms-postbox-photo-item {
				width:50%;
			}
		}

		.joms-fetched-images {
			max-width:100%;
			margin-bottom:6px;
			float:none;
		}

		.joms-fetched-field {
			margin-left:0px;
		}

		.joms-postbox-double-panel li, .joms-postbox-photo-upload {
			font-size:10px;
		}

		.joms-postbox-emoticon li {
			width:50%;
		}

		.joms-stream-box.joms-responsive {
			aside {
				display:none;
				.joms-icon-thumbnail:before {
					font-size:20px !important;
				}
			}
			article {
				padding:12px;
				margin-left:0px;
			}
		}

		.joms-stream-box {
			.joms-stream-thumb {
				float:none;
				margin:0;
				margin-bottom:12px;
			}
		}

		.joms-fetch-shared {
			img {
				margin-bottom:12px;
			}
		}

	} // #community-wrap end

	body #cWindow {

		// Bookmarks
		// affect on cWindow bookmarks
		// ---------------------------
		.js-bookmarks {
			li {
				margin-bottom:12px;
				float: left;
				width: 50%;
			}
		}

	}

}