/**
* @copyright (C) 2013 iJoomla, Inc. - All rights reserved.
* @license GNU General Public License, version 2 (http://www.gnu.org/licenses/gpl-2.0.html)
* @author iJoomla.com <webmaster@ijoomla.com>
* @url https://www.jomsocial.com/license-agreement
* The PHP code portions are distributed under the GPL license. If not otherwise stated, all images, manuals, cascading style sheets, and included JavaScript *are NOT GPL, and are released under the IJOOMLA Proprietary Use License v1.0
* More info at https://www.jomsocial.com/license-agreement
*/

@media (min-width: 768px) and (max-width: 979px) {
	@import "../00-responsive.less"; // this is temporary

	// Tipsy
	// -----
	.tipsy {
		display:none !important; //remove tipsy on mobile device
	}

	#community-wrap {

		#cFeatured {
			display:none !important;
		}

		// Toolbar
		// ----------
		.js-toolbar {
			.dropdown-menu {
				display:none !important;
			}
		}

		// Focus Area
		// ----------
		.js-focus-cover{
		&:hover {
			.js-focus-change-cover {
				display:none;
				}
			}
		}

		.js-focus-avatar {
			&:hover {
				.js-focus-avatar-option {
					display:none !important;
				}
			}
		}

		// Postbox Area 3.2

		.joms-postbox-emoticon li {
			width:50%;
		}

		.joms-postbox-tab {
		li {
			&.active {
				&:after {
					left: 30%;
					}
				&:before {
					left: 30%;
					}
				}
			}
		}

		// comment actions
		.cStream-Comment {
			.cStream-Meta {
				.js-meta-actions {
					display:inline !important;
				}
			}
		}

		.joms-fetch-wrapper {
			.span4, .span8 {
				width:100%;
			}
		}


	} // community wrap end

}
