  /*
 =============================================================
  Flat UI Colors Variable
 =============================================================
  */

// Greens
@turquoise: #1ABC9C;
@green-sea: #16A085;
@emerald: #2ECC71;
@nephritis: #27AE60;

// Blues
@peter-river: #3498DB;
@belize-hole: #2980B9;
@wet-asphalt: #34495E;
@midnight-blue: #2C3E50;

// Purples
@amethyst: #9B59B6;
@wisteria: #8E44AD;

// Yellows
@sunflower: #F1C40F;

// Oranges
@orange: #F39C12;
@carrot: #E67E22;
@pumpkin: #D35400;

// Reds
@alizarin: #E74C3C;
@pomegranate: #C0392B;

// Grays
@clouds: #ECF0F1;
@silver: #BDC3C7;
@concrete: #95A5A6;
@asbestos: #7F8C8D;

// Aliases make colors easier to remember.

// Greens
@green-1: @turquoise;
@green-2: @green-sea;
@green-3: @emerald;
@green-4: @nephritis;

// Blues
@blue-1: @peter-river;
@blue-2: @belize-hole;
@blue-3: @wet-asphalt;
@blue-4: @midnight-blue;

// Purples
@purple-1: @amethyst;
@purple-2: @wisteria;

// Yellows
@yellow-1: @sunflower;

// Oranges
@orange-1: @orange;
@orange-2: @carrot;
@orange-3: @pumpkin;

// Refs
@red-1: @alizarin;
@red-2: @pomegranate;

// Grays
@gray-1: @clouds;
@gray-2: @silver;
@gray-3: @concrete;
@gray-4: @asbestos;

//Font Colors
@font-light: #b2b2b2;