/**
* @copyright (C) 2013 iJoomla, Inc. - All rights reserved.
* @license GNU General Public License, version 2 (http://www.gnu.org/licenses/gpl-2.0.html)
* @author iJoomla.com <webmaster@ijoomla.com>
* @url https://www.jomsocial.com/license-agreement
* The PHP code portions are distributed under the GPL license. If not otherwise stated, all images, manuals, cascading style sheets, and included JavaScript *are NOT GPL, and are released under the IJOOMLA Proprietary Use License v1.0
* More info at https://www.jomsocial.com/license-agreement
*/

// Grays
// -------------------------
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
@grayLight:             #999;
@grayLighter:           #fafafa;
@white:                 #fff;


// Accent colors
// -------------------------
@blue:                  #049cdb;
@blueDark:              #0064cd;
@green:                 #46a546;
@red:                   #9d261d;
@yellow:                #ffc40d;
@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6;


// Scaffolding
// -------------------------
@bodyBackground:        @white;
@textColor:             @grayDark;


// Links
// -------------------------
@linkColor:             #08c;
@linkColorHover:        darken(@linkColor, 15%);


// Typography
// -------------------------
@sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;
@serifFontFamily:       Georgia, "Times New Roman", Times, serif;
@monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace;

@baseFontSize:          14px;
@baseFontFamily:        @sansFontFamily;
@baseLineHeight:        20px;
@altFontFamily:         @serifFontFamily;

@headingsFontFamily:    inherit; // empty to use BS default, @baseFontFamily
@headingsFontWeight:    bold;    // instead of browser default, bold
@headingsColor:         inherit; // empty to use BS default, @textColor


// Component sizing
// -------------------------
// Based on 14px font-size and 20px line-height

@fontSizeLarge:         @baseFontSize * 1.25; // ~18px
@fontSizeSmall:         @baseFontSize * 0.85; // ~12px
@fontSizeMini:          @baseFontSize * 0.75; // ~11px

@paddingLarge:          11px 19px; // 44px
@paddingSmall:          2px 10px;  // 26px
@paddingMini:           0 6px;   // 22px

@baseBorderRadius:      4px;
@borderRadiusLarge:     6px;
@borderRadiusSmall:     3px;


// Tables
// -------------------------
@tableBackground:                   transparent; // overall background-color
@tableBackgroundAccent:             #f9f9f9; // for striping
@tableBackgroundHover:              #f5f5f5; // for hover
@tableBorder:                       #ddd; // table and cell border

// Buttons
// -------------------------
@btnBackground:                     @white;
@btnBackgroundHighlight:            darken(@white, 10%);
@btnBorder:                         #ccc;
@btnTextColor: 											@grayDark;
@btnTextShadow: 										0 1px 1px rgba(255,255,255,.75);

@btnPrimaryBackground:              @linkColor;
@btnPrimaryBackgroundHighlight:     spin(@btnPrimaryBackground, 20%);

@btnInfoBackground:                 #5bc0de;
@btnInfoBackgroundHighlight:        #2f96b4;

@btnSuccessBackground:              #62c462;
@btnSuccessBackgroundHighlight:     #51a351;

@btnWarningBackground:              lighten(@orange, 15%);
@btnWarningBackgroundHighlight:     @orange;

@btnDangerBackground:               #ee5f5b;
@btnDangerBackgroundHighlight:      #bd362f;

@btnInverseBackground:              #444;
@btnInverseBackgroundHighlight:     @grayDarker;


// Forms
// -------------------------
@inputBackground:               @white;
@inputBorder:                   #ccc;
@inputBorderRadius:             @baseBorderRadius;
@inputDisabledBackground:       @white;
@formActionsBackground:         #f5f5f5;
@inputHeight:                   @baseLineHeight + 10px; // base line-height + 8px vertical padding + 2px top/bottom border
@inputTextColor: 				@gray;

// Dropdowns
// -------------------------
@dropdownBackground:            @white;
@dropdownBorder:                rgba(0,0,0,.2);
@dropdownDividerTop:            #e5e5e5;
@dropdownDividerBottom:         @white;

@dropdownLinkColor:             @grayDark;
@dropdownLinkColorHover:        @white;
@dropdownLinkColorActive:       @white;

@dropdownLinkBackgroundActive:  @linkColor;
@dropdownLinkBackgroundHover:   @dropdownLinkBackgroundActive;



// COMPONENT VARIABLES
// --------------------------------------------------


// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
@zindexDropdown:          1000;
@zindexPopover:           1010;
@zindexTooltip:           1030;
@zindexFixedNavbar:       1030;
@zindexModalBackdrop:     1040;
@zindexModal:             1050;


// Sprite icons path
// -------------------------
@iconSpritePath:          "../img/glyphicons-halflings.png";
@iconWhiteSpritePath:     "../img/glyphicons-halflings-white.png";


// Input placeholder text color
// -------------------------
@placeholderText:         @grayLight;


// Hr border color
// -------------------------
@hrBorder:                @grayLighter;


// Horizontal forms & lists
// -------------------------
@horizontalComponentOffset:       180px;


// Wells
// -------------------------
@wellBackground:                  #f5f5f5;


// Navbar
// -------------------------
@navbarCollapseWidth:             979px;
@navbarCollapseDesktopWidth:      @navbarCollapseWidth + 1;

@navbarHeight:                    40px;
@navbarBackgroundHighlight:       #ffffff;
@navbarBackground:                darken(@navbarBackgroundHighlight, 5%);
@navbarBorder:                    darken(@navbarBackground, 12%);

@navbarText:                      #777;
@navbarLinkColor:                 #777;
@navbarLinkColorHover:            @grayDark;
@navbarLinkColorActive:           @gray;
@navbarLinkBackgroundHover:       transparent;
@navbarLinkBackgroundActive:      darken(@navbarBackground, 5%);

@navbarBrandColor:                @navbarLinkColor;

// Pagination
// -------------------------
@paginationBackground:                #fff;
@paginationBorder:                    #ddd;
@paginationActiveBackground:          #f5f5f5;


// Hero unit
// -------------------------
@heroUnitBackground:              @grayLighter;
@heroUnitHeadingColor:            inherit;
@heroUnitLeadColor:               inherit;


// Form states and alerts
// -------------------------
@warningText:             #c09853;
@warningBackground:       #fcf8e3;
@warningBorder:           darken(spin(@warningBackground, -10), 3%);

@errorText:               #b94a48;
@errorBackground:         #f2dede;
@errorBorder:             darken(spin(@errorBackground, -10), 3%);

@successText:             #468847;
@successBackground:       #dff0d8;
@successBorder:           darken(spin(@successBackground, -10), 5%);

@infoText:                #3a87ad;
@infoBackground:          #d9edf7;
@infoBorder:              darken(spin(@infoBackground, -10), 7%);


// Tooltips and popovers
// -------------------------
@tooltipColor:            #fff;
@tooltipBackground:       #000;
@tooltipArrowWidth:       5px;
@tooltipArrowColor:       @tooltipBackground;

@popoverBackground:       #fff;
@popoverArrowWidth:       10px;
@popoverArrowColor:       #fff;
@popoverTitleBackground:  darken(@popoverBackground, 3%);

// Special enhancement for popovers
@popoverArrowOuterWidth:  @popoverArrowWidth + 1;
@popoverArrowOuterColor:  rgba(0,0,0,.25);



// GRID
// --------------------------------------------------


// Default 940px grid
// -------------------------
@gridColumns:             12;
@gridColumnWidth:         60px;
@gridGutterWidth:         20px;
@gridRowWidth:            (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));

// 1200px min
@gridColumnWidth1200:     70px;
@gridGutterWidth1200:     30px;
@gridRowWidth1200:        (@gridColumns * @gridColumnWidth1200) + (@gridGutterWidth1200 * (@gridColumns - 1));

// 768px-979px
@gridColumnWidth768:      42px;
@gridGutterWidth768:      20px;
@gridRowWidth768:         (@gridColumns * @gridColumnWidth768) + (@gridGutterWidth768 * (@gridColumns - 1));


// Fluid grid
// -------------------------
@fluidGridColumnWidth:    percentage(@gridColumnWidth/@gridRowWidth);
@fluidGridGutterWidth:    percentage(@gridGutterWidth/@gridRowWidth);

// 1200px min
@fluidGridColumnWidth1200:     percentage(@gridColumnWidth1200/@gridRowWidth1200);
@fluidGridGutterWidth1200:     percentage(@gridGutterWidth1200/@gridRowWidth1200);

// 768px-979px
@fluidGridColumnWidth768:      percentage(@gridColumnWidth768/@gridRowWidth768);
@fluidGridGutterWidth768:      percentage(@gridGutterWidth768/@gridRowWidth768);

// ------------------------
// ** Jomsocial Variable **
// ------------------------

@main-background-color:#f9f9f9;
@main-border-color:#dadada;


// login area
@login-background:#fafafa;
@login-border:1px solid #dadada;
@login-border-radius:0px 0px @borderRadiusLarge @borderRadiusLarge;
@login-reminder-link:#aaa;
@addon-background:#eee;
@addon-border-color:#ccc;
@addon-icon-color:#333;

// submenu
@submenu-background:#f5f5f5;
@submenu-border:solid 1px #ccc;
@submenu-border-menu:solid 1px #ccc;
@submenu-link-color:#159;


// focus area
@focus-border:1px solid #bdbdbd;
@focus-border-radius: @baseBorderRadius; // you can add four variable of it ie. @baseBorderRadius 0 @baseBorderRadius 0;
@focus-avatar-background: #fff;
@focus-content-background: #fefefe;
@focus-gradient: '../images/gradient.png';
@focus-title-color: #fff;
@focus-menu-color: @linkColor ;
@focus-action-background : #fcfcfc;
@focus-action-border : #ccc;

// Postbox
@postbox-background:#f9f9f9;
@postbox-border-color:#dadada;
@postbox-shadow-color:0px 2px 1px rgba(0,0,0,0.06);
@postbox-input-background:#fff;
@postbox-input-border-color:darken(#f9f9f9,6%);
@postbox-input-color:darken(#7f8c8d,6%);
@postbox-input-shadow:inset 0px 0px 6px rgba(0,0,0,0.04);
@postbox-tab-color:#7f8c8d;
@postbox-tab-color-active:#2980b9;
@postbox-tab-arrow-color:#fff;
@postbox-tab-arrow-color-border:darken(#f9f9f9,6%);
@postbox-tab-arrow-color-fallback:rgba(255,255,255,0);
@postbox-tab-selected-background:#f9f9f9;
@postbox-tab-border-color:#dadada;
@postbox-dropdown-background:#fff;
@postbox-dropdown-hover-background:#f9f9f9;
@postbox-dropdown-shadow:0px 2px 1px rgba(0,0,0,0.1);
@postbox-dropdown-border:#ccc;
@postbox-post-button-gradient-top:#3498db;
@postbox-post-button-gradient-bottom:darken(#3498db,6%);
@postbox-post-button-gradient-reverse-top:darken(#3498db,4%);
@postbox-post-button-gradient-reverse-bottom:#3498db;
@postbox-post-button-shadow:inset 0px 1px 0px lighten(#3498db,18%);
@postbox-post-button-color:#fff;
@postbox-post-button-border:1px solid darken(#2980b9,6%);
@postbox-cancel-button-background:#fafafa;
@postbox-cancel-button-background-reverse:#fff;
@postbox-cancel-button-color:#7f8c8d;
@postbox-cancel-button-border:#ccc;
@postbox-charcount-background: #eee;
@postbox-photo-placeholder:#ecf0f1;

@postbox-panel-background:#fff;
@postbox-panel-background-hover:#f9f9f9;
@postbox-panel-border-color:lighten(#dadada,6%);

@postbox-preview-background:@postbox-panel-background;
@postbox-preview-border:1px dashed darken(#f9f9f9,6%);
@postbox-event-border:1px dashed #dadada;

@postbox-photo-item-border:1px solid darken(#f9f9f9,6%);
@postbox-photo-item-action-background:@postbox-preview-background;

@postbox-loading-background:@postbox-background;

// custom select field
@select-background:#fff;
@select-background-hover:#f9f9f9;
@select-border:1px solid darken(#f9f9f9,6%);
@select-color:#7f8c8d;

// filterbar
@filterbar-background:#f9f9f9;
@filterbar-border-color:#dadada;
@filterbar-hover-background:#fff;



// Stream
@stream-spacing			: 10px;
@stream-margin			: 8px;
@stream-border			: #e5e5e5;
@stream-avatar			: 48px;
@stream-video			: 112px;
@stream-line			: 16px;
@stream-avatar-s		: 32px;
@stream-avatar-background:white;
@stream-respond-background:#f5f5f5;
@stream-respond-border:1px solid #eaeaea;
@stream-title-border:2px solid #e5e5e5;
@stream-box-background:#fff;
@stream-box-border:1px solid #e3e3e3;
@stream-box-thumbnail-color:#7f8c8d;
@stream-box-separator:darken(#f4f7f7,4%);
@stream-options-divider:#dedede;
@stream-load-latest-background:#fafafa;
@stream-load-latest-border:1px dashed darken(#fafafa,6%);
@stream-load-latest-background-hover:darken(@stream-load-latest-background,2%);

// Wall
@wall-comment-border:1px solid #e5e5e5;

// Page
@cpage-tabs-border-bottom:1px solid #e5e5e5;
@cpage-tabs-background:#f0f0f0;
@cpage-tabs-border:1px solid #ccc;
@cpage-tabs-current-background:#555;
@cpage-tabs-current-color:#fff;
@cpage-tabs-color:@cpage-tabs-current-background;
@cpage-action-background:#f5f5f5;
@cpage-advancesearch-background:#f5f5f5;
@cpage-advancesearch-border:1px solid #CCC;

// Index Listing
@index-background : rgba(255,255,255,0.4);
@index-shadow:0 0 1px rgba(0, 0, 0, 0.2);

// Toolbox
@toolbox-background:@login-background;
@toolbox-border:@login-border;

// Module
@module-border:1px solid #dadada;
@module-header-color :@linkColor;
@module-header-border-bottom:1px solid #ddd;
@module-footer-border-top:1px solid #ddd;
@app-box-background:@login-background;
@app-box-header-color:inherit;
@app-box-content-color:inherit;
@app-box-filter-color-active:inherit;

// Form
@label-size		: 140px;
@field-size		: 140px + 15;
@form-space		: 15px;
@form-seperator	: #eee;

// Featured Area
@featuredFat		: 20px;
@featuredCover		: 128px;
@featured-color:#606060;
@featured-b-color:#555;
@featured-top-background:#f5f5f5;
@featured-top-border:1px solid #ccc;
@featured-top-color:auto;
@featured-middle-background:#f5f5f5;
@featured-middle-border:1px solid #ccc;
@featured-bottom-background:#f9f9f9;
@featured-bottom-border:1px solid #ccc;
@featured-bottom-border-bottom:#bbb;
@featured-meta-color:#888;

//Media
@cmedia-avatar-background:#f5f5f5;
@cmedia-option-background:#eee;
@cmedia-option-border:1px solid #ccc;
@cmedia-option-color:#555;
// Photo Album Cover
@photo-album-cover-background:#f8f8f8;
@photo-album-cover-border:1px solid #ccc;
@photo-avatar-background:#fff;

// Application Box
@app-box-list-border:1px dotted #ddd;

// Calendar Module
@calendar-background-color:#f5f5f5;
@calendar-text-color: #888;
@calendar-selected-text-color:#555;
@calendar-border:1px solid #ccc;
@calendar-event-date-color:#fff;
@calendar-running-color:#ffd ;
@calendar-month-color:#f5f5f5;

// Event Calendar Module Icon
@event-calendar-background:#fff;
@event-calendar-header-background:#f5f5f5;
@event-calendar-border:1px solid #ccc;
@event-calendar-border-bottom:2px solid #eee;
@event-calendar-color:#333;

// cWindow
@cwindow-background:#fff;
@cwindow-color:#555;
@cwindow-border:1px solid #444;
@cwindow-shadow: 0 0 5px;
@cwindow-top-background: #555;
@cwindow-top-border:1px solid #222;
@cwindow-content-background: #fff;
@cwindow-action-background: #ccc;
@cwindow-action-border:1px solid #999;
@cwindow-stream-border:1px solid #e5e5e5;
@cwindow-invitation-background:#eee;
@cwindow-finder-border:1px solid #ccc;
@cwindow-tab-background:#fff;
@cwindow-tabnav-border:1px solid #CCC;
@cwindow-tabnav-button-border:1px solid #999;
@cwindow-invitation-option-background:#eee;
@cwindow-invitation-option-border:1px solid #ccc;

// Alert
@alert-background: #FCF8E3;
@alert-border: 1px solid #ddc8a5;
@alert-color: #C09853;

// others
@filter-border-bottom:1px solid #ddd; // cFilter

// textntags plugin
@textntags-background:#fff;
@textntags-hover-background:#f2f2f2;
@textntags-border:1px solid #b2b2b2;
@textntags-list-border:1px solid #eee;
@textntags-b-background:#ffff99;
@textntags-beautifier-color:#fff;
@textntags-strong-background:#d8dfea;