// select input using div
.joms-select {
  border:@select-border;
  background:@select-background;
  cursor:pointer;
  position:relative;
  color:@select-color;
  .border-radius(3px);
  span {
    width:90%;
    display:block;
    padding:4px 8px;
    font-weight:bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right:20px;
  }
  ul {
    border:@select-border;
    position:absolute;
    .box-sizing(border-box);
    width:100%;
    z-index:10;
    background:@select-background;
    padding:4px;
    .box-shadow(inset 0px 2px 1px rgba(0,0,0,0.06));
    li {
      padding:4px 8px;
      color:@select-color;
      &:hover {
        background:@select-background-hover;
      }
    }
  }
  &:after {
    font-family: "jomsocial";
    content: "\e631";
    position:absolute;
    top:4px;
    right:8px;
  }
}