/**
 *------------------------------------------------------------------------------
 * @package       T3 Framework for Joomla!
 *------------------------------------------------------------------------------
 * @copyright     Copyright (C) 2004-2013 JoomlArt.com. All Rights Reserved.
 * @license       GNU General Public License version 2 or later; see LICENSE.txt
 * @authors       JoomlArt, JoomlaBamboo, (contribute to this project at github
 *                & Google group to become co-author)
 * @Google group: https://groups.google.com/forum/#!forum/t3fw
 * @Link:         http://t3-framework.org
 *------------------------------------------------------------------------------
 */


// ------------------------------------------------------
// CORE ELEMENTS
// ------------------------------------------------------


// SCAFFOLDING
// ------------------------------------------------------

body {
  background-color: @bodyBackground;
  color: @textColor;
  font-family: @baseFontFamily;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  margin: 0;
}

// Links
// ------------------------------------------------------
a {
  color: @linkColor;
  text-decoration: none;
  // Hover state
  &:hover {
    color: @linkColorHover;
    text-decoration: underline;
  }
}



// IMAGES
// ------------------------------------------------------
img {
  max-width: 100% !important;
}

.img-rounded {
  .border-radius(@baseBorderRadius);
}

.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc; // for IE
  border: 1px solid rgba(0,0,0,.2);
  .box-shadow (0 1px 3px rgba(0,0,0,.1));
}

.img-circle {
  .border-radius(500px);
}



// TABLES
// -------------------------------------------------------
table {
  background-color: @tableBackground;
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  line-height: @baseLineHeight;
  padding: 8px 10px;
  text-align: left;
  vertical-align: top;
}

td {
  border-top: 1px solid @tableBorder;
}

tr td {
}

th {
  background: @grayDark;
  color: @grayLighter;
  font-weight: bold;
}

th td {
}

th a {
  color: @grayLighter;
  // Link states
  &:hover, &:focus, &:active {
    color: @white;
  }
}

.cat-list-row0,
.cat-list-row1,
tr.cat-list-row0 td,
tr.cat-list-row1 td {
}

.cat-list-row0:hover,
.cat-list-row1:hover {
  background: @tableBackgroundHover;
}

.cat-list-row1,
tr.cat-list-row1 td {
  background: @tableBackgroundAccent;
}

table.contentpane,
table.tablelist,
table.category,
table.admintable,
table.blog {
  width: 100%;
}

table.contentpaneopen {
  border: 0;
}



// LISTS
// -------------------------------------------------------
// Alternating Rows
.row-even,.row-odd {
  padding: 5px;
  width: 99%;
  border-bottom: 1px solid @tableBorder;
}

.row-odd {
  background-color: @tableBackground;
}

.row-even {
  background-color: @tableBackgroundAccent;
}

.blog-row-rule,
.blog-item-rule {
  border: 0;
}

// Row reveal
.row-fluid .row-reveal {
  visibility: hidden;
}
.row-fluid:hover .row-reveal {
  visibility: visible;
}

// Nav List Offset
.nav-list > li.offset > a {
  padding-left: 30px;
  font-size: 12px;
}

.blog-row-rule,
.blog-item-rule {
  border: 0;
}


// Striped
.list-striped,
.row-striped {
  list-style: none;
  line-height: 18px;
  text-align: left;
  vertical-align: middle;
  border-top: 1px solid @tableBorder;
  margin-left: 0;
}

.list-striped li,
.list-striped dd,
.row-striped .row,
.row-striped .row-fluid {
  border-bottom: 1px solid @tableBorder;
  padding: 10px 15px;
}

.list-striped li:nth-child(odd),
.list-striped dd:nth-child(odd),
.row-striped .row:nth-child(odd),
.row-striped .row-fluid:nth-child(odd) {
  background-color: @tableBackgroundAccent;
}

.list-striped li:hover,
.list-striped dd:hover,
.row-striped .row:hover,
.row-striped .row-fluid:hover {
  background-color: @tableBackgroundHover;
}

.row-striped .row-fluid {
  width: 97%; // lower than 100% since we have padding
}

.row-striped .row-fluid [class*="span"] {
  min-height: 10px;
}

.row-striped .row-fluid [class*="span"] {
  margin-left: 8px;
}

.row-striped .row-fluid [class*="span"]:first-child {
  margin-left: 0;
}


// Condensed
.list-condensed {
  li {
    padding: 5px 10px;
  }
}

.row-condensed {
  .row, .row-fluid {
    padding: 5px 10px;
  }
}


// Bordered
// --------
.list-bordered,
.row-bordered{
  list-style: none;
  line-height: 18px;
  text-align: left;
  vertical-align: middle;
  margin-left: 0;
  border: 1px solid @tableBorder;
  .border-radius(4px);
}



// MISC
// -------------------------------------------------------
.star {
  color: @yellow;
}

.red {
  color: @red;
}

// Center
.center,
.table td.center,
.table th.center {
  text-align: center;
}

// Horizontal rules
hr {
  margin: @T3globalMargin 0;
  border: 0;
  border-top: 1px solid @hrBorder;
  border-bottom: 1px solid @white;
}

// Horizontal Row (hr)
hr.hr-condensed {
  margin: 10px 0;
}

// Accessible Hidden Elements (good for hidden labels and such)
.element-invisible {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

// Auto width
.width-auto {
  width: auto;
}

// Replace Button Primary Color

@import "../../../plugins/system/t3/base/bootstrap/less/mixins.less";

.btn-primary, #community-wrap .btn-primary {
  .buttonBackground(#2c3e50, lighten(saturate(#2c3e50,20%),5%)) !important;
}