// custom color link

#community-wrap {
	.cFeaturedTitle a, .cSubmenu li a, .cSubmenu li a.active, .js-focus .js-focus-menu a  {
		color:#07b;
		&:hover {
			color:#00466f;
		}
	}
}

// Recaptcha fix
#recaptcha_area td{
  line-height: 0;
}

// Font awesome + megamenu
.t3-megamenu .nav.navbar-nav .fa{
  margin-right: 5px;
}

//avatar size
body #cWindow .cGrid-Avatar{
  max-width: 40px!important;
}