/**
 *------------------------------------------------------------------------------
 * @package       T3 Framework for Joomla!
 *------------------------------------------------------------------------------
 * @copyright     Copyright (C) 2004-2013 JoomlArt.com. All Rights Reserved.
 * @license       GNU General Public License version 2 or later; see LICENSE.txt
 * @authors       JoomlArt, JoomlaBamboo, (contribute to this project at github
 *                & Google group to become co-author)
 * @Google group: https://groups.google.com/forum/#!forum/t3fw
 * @Link:         http://t3-framework.org
 *------------------------------------------------------------------------------
 */


//
// GENECRIC MODULE STYLE
// --------------------------------------------------
.t3-module {
  background: @T3moduleBackground;
  color: @T3moduleColor;
  margin-bottom: @T3globalMargin * 2;
  // Module padding
  .module-inner {
    padding: @T3modulePadding;
  }
}

// Module Title
// ------------
.module-title {
  background: @T3moduleTitleBackground;
  color: @T3moduleTitleColor;
  line-height: 30px;
  margin: 0 0 (@T3globalMargin / 2) 0;
  padding: @T3moduleTitlePadding;
}

// Module Content
// --------------
.module-ct {
  background: @T3moduleContentBackground;
  color: @T3moduleContentColor;
  padding: @T3moduleContentPadding;
  .clearfix();
}

// Module List
// -----------
.t3-module {
  ul,
  ol {
    margin-left: 20px;
  }

  ul.unstyled,
  ol.unstyled,
  ul.nav,
  ol.nav {
    margin-left: 0;
  }
}



//
// JOOMLA! MODULES
// --------------------------------------------------

// Menu
// ----
.module_menu {
  .nav {
    margin-bottom: @T3globalMargin;
  }

  .nav > li {
    border-top: 1px solid @hrBorder;
  }

  .nav > li > a {
    padding: 5px;
  }

  // No top border
  .nav > li:first-child {
    border-top: 0;
  }

  .nav > li:first-child > a {
    padding-top: 0;
    border-top: 0;
  }

  // Hover state
  .nav > li > a:hover {
  }

  // Active state
  .nav > li.active > a {
  }
}


// Login Form
// ----------
#form-login {

  input[type="text"],
  input[type="password"] {
    width: 90%;
  }

  .btn-primary {
  }

  ul.unstyled {
  }

  #form-login-username a{
    color:#fff;
  }

  #form-login-password a{
    color:#fff;
  }

  #form-login-remember {
  }

}

// Advertisement
// -------------
.bannergroup {
}

.banneritem {
  a {
    font-weight: bold;
  }
}

.bannerfooter {
  border-top: 1px solid @T3borderColor;
  font-size: @T3smallerFontSize;
  padding-top: @T3globalPadding / 2;
  text-align: right;
}


// Categories
// ----------
.categories-module, ul.categories-module,
.category-module, ul.category-module {
  margin: 0;

  li {
    list-style: none;
    padding: (@baseLineHeight / 2) 0;
    border-top: 1px solid @T3borderColor;
    // Remove border for first item
    &:first-child {
      border-top: 0;
      padding-top: 0;
    }
  }

  h4 {
    font-size: @baseFontSize;
    font-weight: normal;
    margin: 0;
  }
}


// News Feed
// ----------
.feed {
  // Feed Title
  h4 {
    font-weight: bold;
  }
  // Feed list
  .newsfeed,
  ul.newsfeed {
    border-top: 1px solid @hrBorder;
    li {}
    .feed-link,
    h5.feed-link {
      font-size: @baseFontSize;
      font-weight: normal;
      margin: 0;
    }
  }

}


// Latest Users
// ------------
.latestusers,
ul.latestusers {
  margin-left: 0;
  li {
    background: @grayLighter;
    display: inline-block;
    padding: 5px 10px;
    .border-radius (@baseBorderRadius);
  }
}


// Stats
// ------
.stats-module {
  dt, dd {
    display: inline-block;
    margin: 0;
  }
  dt {
    font-weight: bold;
    width: 35%;
  }
  dd {
    width: 60%;
  }
}

// Popular Tags
div.tagspopular ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

div.tagspopular ul li {
  color: @gray;
  display: inline-block;
  margin: 0 5px 5px 0;
}

div.tagspopular ul li a {
  background: @grayLighter;
  border-radius: 3px;
  color: @gray;
  display: block;
  padding: 2px 5px;
}

div.tagspopular ul li a:hover,
div.tagspopular ul li a:focus,
div.tagspopular ul li a:active {
  background: @linkColorHover;
  color: @white;
  text-decoration: none;
}

// Similar tags
div.tagssimilar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

div.tagssimilar ul li {
  border-bottom: 1px solid @grayLighter;
  padding: 8px 0;
}

div.tagssimilar ul li a {
  color: @gray;
}

div.tagssimilar ul li a:hover,
div.tagssimilar ul li a:focus,
div.tagssimilar ul li a:active {
  color: @linkColorHover;
}

// Top Header Module
#top-header {
  background:#333;

  .community-toolbar .js-toolbar {
    .nav li {
      padding:0px;
    }
  }

  // for general joomla menu
  .nav {
    margin:0px auto;
    padding-top:4px;
    padding-bottom:4px;
    display:block;
    max-width:1196px;
    li {
      display:inline;
      float:left;
      padding:0px 10px;
      height:30px;
      /*line-height:30px;*/
      // border-right:1px solid darken(#e9e9e9,8%);
      &:last-child {
        border-right:none;
      }
      &.active a {
          color:#ccc;
      }
      a {
        &:hover {
          background:none;
        }
      }
      .separator {
        color:@grayLight;
      }
    }
  }
}

/*Guru Fix*/
#mod_gurucpanel .mod_guru_courses a h5{
  display: block;
  margin-bottom: 15px;
}
#mod_gurucpanel .mod_guru_courses .ij_mod_details li a{
  display: inline;
}

/*Hello me module Fix*/
#cModule-HelloMe .cMod-Notify a {
  line-height: 20px;
}
#cModule-HelloMe .cHello-Karma img{
  width: 80%;
}

/*Community toolbar*/
#community-tb-wrap.community-toolbar .navbar a.community-toolbar-logo,
#community-wrap.community-toolbar .navbar .nav > li > a.community-toolbar-logo{
  padding: 3px 10px 3px !important;
  display: inline-block;
}
#community-tb-wrap.community-toolbar .navbar a.community-toolbar-logo img{
  height: 30px;
}
#community-tb-wrap .navbar {
  overflow: visible;
  margin-bottom: 20px;
}
#community-tb-wrap .navbar-inner {
  min-height: 40px;
  padding: 0;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top,#fff,#f2f2f2);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
  background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);
  background-image: -o-linear-gradient(top,#fff,#f2f2f2);
  background-image: linear-gradient(to bottom,#fff,#f2f2f2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff2f2f2',GradientType=0);
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
  box-shadow: 0 1px 4px rgba(0,0,0,0.065);
}
#community-tb-wrap .navbar-inner:before, #community-tb-wrap .navbar-inner:after {
  display: table;
  content: "";
  line-height: 0;
}
#community-tb-wrap .row-fluid:after {
  clear: both;
}

/*#community-tb-wrap .row-fluid [class*="span"] {
  float: left;
}*/
#community-tb-wrap a {
  text-decoration: none;
}
#community-tb-wrap .btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #333;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
  background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
  background-image: -o-linear-gradient(top,#fff,#e6e6e6);
  background-image: linear-gradient(to bottom,#fff,#e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #ccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
  float: none;
  height: auto;
  text-transform: none;
}
#community-tb-wrap .navbar .btn-group {
  margin-top: 5px;
}
#community-tb-wrap .navbar .btn-navbar {
  display: none;
  float: right;
  padding: 7px 10px;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #ededed;
  background-image: -moz-linear-gradient(top,#f2f2f2,#e5e5e5);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#f2f2f2),to(#e5e5e5));
  background-image: -webkit-linear-gradient(top,#f2f2f2,#e5e5e5);
  background-image: -o-linear-gradient(top,#f2f2f2,#e5e5e5);
  background-image: linear-gradient(to bottom,#f2f2f2,#e5e5e5);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2',endColorstr='#ffe5e5e5',GradientType=0);
  border-color: #e5e5e5 #e5e5e5 #bfbfbf;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.075);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.075);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.075);
}

#community-tb-wrap ul, #community-tb-wrap ol {
  padding: 0;
  margin: 0 0 10px 25px;
}
#community-tb-wrap dt, #community-tb-wrap dd, #community-tb-wrap ul, #community-tb-wrap ol {
  margin: 0;
  padding: 0;
}
#community-tb-wrap .nav {
  margin-left: 0;
  margin-bottom: 20px;
  list-style: none;
}
#community-tb-wrap .navbar .nav {
  position: relative;
  left: 0;
  display: block;
  margin: 0 10px 0 0;
}
#community-tb-wrap .js-toolbar .nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 0px;
}
#community-tb-wrap li {
  line-height: 20px;
}
#community-tb-wrap .navbar .nav>li {
  float: left;
}

#community-tb-wrap [class^="js-icon-"]:before, #community-tb-wrap [class*=" js-icon-"]:before {
  font-family: "jomsocial";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  margin-left: .2em;
}
#community-tb-wrap .js-icon-home:before {
  content: '\e80a';
}
#community-tb-wrap .js-icon-globe:before {
  content: '\e820';
}
#community-tb-wrap .js-icon-users:before {
  content: '\e803';
}
#community-tb-wrap .js-icon-chat:before {
  content: '\e813';
}
#community-tb-wrap .js-icon-logout:before {
  content: '\e819';
}

#community-tb-wrap form {
  margin: 0 0 20px;
}
#community-tb-wrap.community-toolbar .toolbar-search {
  margin: 0;
  position: relative;
  top: 7px;
}
@media (max-width: 979px) {

  .mobile-menu {
    width:100% !important;
  }

  #community-tb-wrap .js-toolbar .nav {
    margin-top: -7px;
  }

  #community-tb-wrap.community-toolbar .navbar .nav > li > a.community-toolbar-logo{
    padding: 0!important;
  }

}