

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  background: #f9f9f9;
  padding-top: 0 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
}
a:hover {
  background: 0 none;
  text-decoration: none;
}
#top-header {
  height: 38px;
}
.t3-header {
  background: #2c3e50;
}
.t3-content .t3-content-inner {
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 3px;
  padding: 20px;
}
.t3-content ul,
.t3-content ol {
  padding-left: 15px;
}
.t3-mainnav {
  border: 0 none;
  background-image: none;
  background: #2c3e50;
  border-top: 1px solid rgba(255,255,255,0.1);
  box-shadow: 0 -1px 0 #20303A;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c3e50',endColorstr='#2c3e50',GradientType=0);
}
.t3-mainnav .navbar-inner {
  border-left: 1px solid rgba(255,255,255,0.1);
  box-shadow: -1px 0 0 #20303A;
}
.t3-mainnav .navbar .nav > li > a,
.t3-mainnav .navbar .nav > li > span {
  border-top: 0;
  border-right: 1px solid rgba(255,255,255,0.1);
  box-shadow: 1px 0px 0 #20303A;
  padding: 10px 20px;
  text-shadow: none;
  display: block;
  color: #fff;
}
.t3-mainnav  .navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-bottom-color: #fff;
  border-top-color: #fff;
}
.t3-mainnav .navbar .nav > li > a:focus,
.t3-mainnav .navbar .nav > li > a:hover,
.t3-mainnav .navbar .nav > li > span:focus,
.t3-mainnav .navbar .nav > li > span:hover {
  background-color: #666;
  background-color: #757575;
  background-image: -moz-linear-gradient(top,#808080,#666);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#808080),to(#666));
  background-image: -webkit-linear-gradient(top,#808080,#666);
  background-image: -o-linear-gradient(top,#808080,#666);
  background-image: linear-gradient(to bottom,#808080,#666);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7f7f7f',endColorstr='#ff666666',GradientType=0);
  text-shadow: none;
  outline: none;
}
.t3-mainnav .navbar .nav > .active > a,
.t3-mainnav .navbar .nav > .active > a:hover,
.t3-mainnav .navbar .nav > .active > a:focus,
.t3-mainnav .navbar .nav > .active > span,
.t3-mainnav .navbar .nav > .active > span:hover,
.t3-mainnav .navbar .nav > .active > span:focus {
  color: #eee;
  text-shadow: none;
  background-color: #F39C12;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F39C12',endColorstr='#F39C12',GradientType=0);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.t3-megamenu .mega-nav > li,
.t3-megamenu .dropdown-menu .mega-nav > li {
  list-style: none outside none;
  margin-left: 0;
}
.t3-megamenu ul.mega-nav.level1 {
  margin-left: 0;
}
.logo a {
  color: #f6f6f6;
}
.logo a:hover {
  color: #f9f9f9;
}
.logo-image h1 a {
  height: auto;
  width: 300px;
  background: none;
}
.head-search {
  margin-top: 0;
}
.head-search .search {
  margin-top: 6px;
}
.head-search .search input[type="text"] {
  background: url(../../../images/ico/search.png) no-repeat scroll 8px center rgba(0,0,0,0.3);
  border: 0 none;
  color: #FFFFFF;
  font-size: 12px;
}
#component .block {
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.t3-top {
  background: url(../../../images/bright-squares.png);
  padding: 20px 0;
  color: #fff;
  border-bottom: 1px solid #DDDDDD;
  border-top: 1px solid #F9F9F9;
}
.t3-top h1,
.t3-top h2,
.t3-top h3,
.t3-top h4,
.t3-top h5,
.t3-top h6 {
  color: #34495e;
}
#community-wrap {
  color: #444;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  word-wrap: break-word;
}
#community-wrap .cFeaturedTitle a {
  color: #07b !important;
}
#community-wrap .cFeaturedTitle a:hover {
  color: #00466f !important;
}
#community-wrap .js-toolbar-mods,
#community-tb-wrap.community-toolbar {
  left: 0;
  right: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: #34495e;
}
#community-wrap .js-toolbar-mods .navbar,
#community-tb-wrap.community-toolbar .navbar {
  margin-bottom: 0;
}
#community-wrap .js-toolbar-mods .navbar-inner,
#community-tb-wrap.community-toolbar .navbar-inner {
  border-radius: 0;
  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#34495e',endColorstr='#34495e',GradientType=0);
  background: #34495e;
  border: 0 none;
  margin-bottom: 0;
}
#community-wrap .js-toolbar-mods .nav > li > a,
#community-tb-wrap.community-toolbar .nav > li > a {
  padding: 9px 11px !important;
  font-size: 13px;
  color: #fff !important;
  text-shadow: 0 0 0 rgba(0,0,0,0) !important;
  position: relative;
}
#community-wrap .js-toolbar-mods .nav > li > a i,
#community-tb-wrap.community-toolbar .nav > li > a i {
  opacity: .9;
}
#community-wrap .js-toolbar-mods .nav > li > a.menu-icon,
#community-tb-wrap.community-toolbar .nav > li > a.menu-icon {
  padding: 9px 7px;
}
#community-wrap .js-toolbar-mods .nav > li > a:hover,
#community-tb-wrap.community-toolbar .nav > li > a:hover {
  color: rgba(255,255,255,0.7);
}
#community-wrap .js-toolbar-mods .counter,
#community-tb-wrap.community-toolbar .counter {
  background: none repeat scroll 0 0 #3498DB;
  border-radius: 4px 4px 4px 4px;
  color: #FFFFFF;
  font-size: 10px;
  line-height: 16px;
  padding: 0 5px !important;
  position: absolute;
  right: -1px;
  top: -4px;
}
#community-wrap .js-toolbar-mods .navbar .nav > .active > a,
#community-wrap .js-toolbar-mods .navbar .nav > .active > a:hover,
#community-wrap .js-toolbar-mods .navbar .nav > .active > a:focus,
#community-tb-wrap.community-toolbar .navbar .nav > .active > a,
#community-tb-wrap.community-toolbar .navbar .nav > .active > a:hover,
#community-tb-wrap.community-toolbar .navbar .nav > .active > a:focus {
  background: rgba(0,0,0,0.1);
  color: #ffffff;
}
#community-wrap .js-toolbar-mods .navbar .nav li.dropdown.open > .dropdown-toggle,
#community-wrap .js-toolbar-mods .navbar .nav li.dropdown.active > .dropdown-toggle,
#community-wrap .js-toolbar-mods .navbar .nav li.dropdown.open.active > .dropdown-toggle,
#community-tb-wrap.community-toolbar .navbar .nav li.dropdown.open > .dropdown-toggle,
#community-tb-wrap.community-toolbar .navbar .nav li.dropdown.active > .dropdown-toggle,
#community-tb-wrap.community-toolbar .navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background: rgba(0,0,0,0.1);
  color: #fff;
}
#community-wrap .js-toolbar-mods .toolbar-search,
#community-tb-wrap.community-toolbar .toolbar-search {
  margin: 0;
  position: relative;
  top: 7px;
}
#community-wrap .js-toolbar-mods .toolbar-search input,
#community-tb-wrap.community-toolbar .toolbar-search input {
  width: 300px !important;
  height: 24px !important;
  line-height: 24px;
  margin: 0;
  padding: 0 4px;
  border-radius: 2px 0 0 2px;
  border: 0 none;
  font-size: 12px;
  opacity: .9;
}
#community-wrap .js-toolbar-mods .toolbar-search input:hover,
#community-wrap .js-toolbar-mods .toolbar-search input:focus,
#community-tb-wrap.community-toolbar .toolbar-search input:hover,
#community-tb-wrap.community-toolbar .toolbar-search input:focus {
  opacity: 1;
}
#community-wrap .js-toolbar-mods .toolbar-search .input-append,
#community-tb-wrap.community-toolbar .toolbar-search .input-append {
  margin-bottom: 0;
}
#community-wrap .js-toolbar-mods .toolbar-search .btn,
#community-tb-wrap.community-toolbar .toolbar-search .btn {
  padding: 2px;
  background: #fff;
  border: 0 none;
  border-radius: 0 2px 2px 0 !important;
  margin-left: 0;
  opacity: .9;
  height: 20px;
  width: 20px;
}
#community-wrap .js-toolbar-mods .toolbar-search .btn:hover,
#community-wrap .js-toolbar-mods .toolbar-search .btn:focus,
#community-tb-wrap.community-toolbar .toolbar-search .btn:hover,
#community-tb-wrap.community-toolbar .toolbar-search .btn:focus {
  opacity: 1;
}
#community-wrap .js-toolbar-mods .user-info,
#community-tb-wrap.community-toolbar .user-info {
  border-right: 1px solid rgba(255,255,255,0.05);
}
#community-wrap .js-toolbar-mods .user-info a img,
#community-tb-wrap.community-toolbar .user-info a img {
  width: 28px;
  margin: 0;
  display: inline-block;
  position: relative;
  top: -3px;
}
#community-wrap .js-toolbar-mods .user-info a h3,
#community-tb-wrap.community-toolbar .user-info a h3 {
  font-size: 12px;
  display: inline-block;
  line-height: 21px;
  margin: 0 0 0 10px;
  padding-right: 5px;
  font-weight: normal;
  color: rgba(255,255,255,0.9);
}
#community-wrap .js-toolbar-mods .user-info a:hover h3,
#community-tb-wrap.community-toolbar .user-info a:hover h3 {
  color: rgba(255,255,255,0.6);
}
#community-wrap .js-toolbar-mods.toolbar-login,
#community-tb-wrap.community-toolbar.toolbar-login {
  color: #fff;
  font-size: 12px;
  height: 38px;
  position: static;
}
#community-wrap .js-toolbar-mods.toolbar-login form,
#community-tb-wrap.community-toolbar.toolbar-login form {
  margin: 5px 0 0 0;
}
#community-wrap .js-toolbar-mods.toolbar-login fieldset,
#community-tb-wrap.community-toolbar.toolbar-login fieldset {
  margin-right: 5px;
}
#community-wrap .js-toolbar-mods.toolbar-login label,
#community-tb-wrap.community-toolbar.toolbar-login label {
  font-size: 12px;
  line-height: 26px;
}
#community-wrap .js-toolbar-mods.toolbar-login input[type="text"],
#community-wrap .js-toolbar-mods.toolbar-login input[type="password"],
#community-tb-wrap.community-toolbar.toolbar-login input[type="text"],
#community-tb-wrap.community-toolbar.toolbar-login input[type="password"] {
  width: 120px;
  height: 24px;
  line-height: 24px;
  margin: 0 0 0 4px;
  padding: 0 4px;
  border-radius: 2px;
  border: 0 none;
  font-size: 12px;
  opacity: .9;
}
#community-wrap .js-toolbar-mods.toolbar-login input[type="text"]:hover,
#community-wrap .js-toolbar-mods.toolbar-login input[type="text"]:focus,
#community-wrap .js-toolbar-mods.toolbar-login input[type="password"]:hover,
#community-wrap .js-toolbar-mods.toolbar-login input[type="password"]:focus,
#community-tb-wrap.community-toolbar.toolbar-login input[type="text"]:hover,
#community-tb-wrap.community-toolbar.toolbar-login input[type="text"]:focus,
#community-tb-wrap.community-toolbar.toolbar-login input[type="password"]:hover,
#community-tb-wrap.community-toolbar.toolbar-login input[type="password"]:focus {
  opacity: 1;
}
#community-wrap .js-toolbar-mods.toolbar-login .checkbox,
#community-tb-wrap.community-toolbar.toolbar-login .checkbox {
  top: -2px;
  position: relative;
}
#community-wrap .js-toolbar-mods.toolbar-login p,
#community-tb-wrap.community-toolbar.toolbar-login p {
  float: left;
  margin-left: 15px;
  margin-bottom: 0;
}
#community-wrap .js-toolbar-mods.toolbar-login .btn,
#community-tb-wrap.community-toolbar.toolbar-login .btn {
  background: none;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
  padding: 12px 10px;
  line-height: 0;
  display: block;
  margin-left: 5px;
  margin-top: 2px;
}
#community-wrap .js-toolbar-mods.toolbar-login .btn.btn-orange,
#community-tb-wrap.community-toolbar.toolbar-login .btn.btn-orange {
  background: #f39c12;
  margin-left: 12px;
}
#community-wrap .js-toolbar-mods.toolbar-login .btn.btn-green,
#community-tb-wrap.community-toolbar.toolbar-login .btn.btn-green {
  background: #16a085;
}
#community-wrap h2 {
  font-size: 22px;
}
#community-wrap .cMain h2.cResetH {
  padding-left: 20px;
  border-bottom: 1px solid #DDDDDD !important;
  font-size: 22px;
  margin: 0 0 12px -20px !important;
  padding: 0 0 10px 15px !important;
}
#community-wrap .cSidebar {
  margin-right: -20px;
  padding-left: 20px;
}
#community-wrap .cSidebar .app-box {
  border: 0 none;
  border-radius: 0;
  padding: 0;
  box-shadow: 0 0 0 rgba(0,0,0,0);
}
#community-wrap .cSidebar .app-box > h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px !important;
  font-weight: 400 !important;
  padding-bottom: 8px;
}
#community-wrap .community-status {
  padding: 0;
}
#community-wrap .community-status .status-author {
  display: none;
}
#community-wrap .community-status .status-creator {
  border-radius: 0;
  border: 0 none;
  background: none;
  margin-left: 0;
  padding: 0 0 15px 0;
}
#community-wrap .community-status .creator {
  padding: 4px 8px;
  border-left: 0 none;
  border-right: 0 none;
  margin-bottom: -1px;
}
#community-wrap .community-status .creators {
  height: auto;
  margin: 0 0 0;
  border-bottom: 1px solid #ddd;
}
#community-wrap .community-status .creator.active {
  background: url(../../../images/tabs-arrow.png) no-repeat center 30px;
  border-radius: 0;
  border: 0 none;
  padding-top: 5px;
}
#community-wrap .community-status .creator-views .creator-form {
  margin: 0;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
#community-wrap .community-status .creator-message-container {
  padding: 10px;
  border: 1px solid #ddd;
}
#community-wrap .community-status .creator-message-container .creator-message {
  border: 0 none;
}
#community-wrap .community-status .creator-actions {
  border: 1px solid #ddd;
  border-top: 0 none;
  background: #f8f8f8;
  padding: 10px;
}
#community-wrap .cFilter {
  margin-bottom: 0;
}
#community-wrap .cStreamList > li {
  margin-left: -20px;
  padding: 15px 0 15px 20px;
}
#community-wrap .js-focus .js-focus-top {
  bottom: 5px;
  float: none !important;
  position: absolute;
  text-align: center;
  width: 100%;
}
#community-wrap .js-focus .js-focus-header {
  text-align: left;
  padding-left: 25px;
}
#community-wrap .js-focus .js-focus-header h3 {
  color: #fff;
  text-shadow: 0 0 2px #000;
  margin: 10px 0 18px;
  line-height: 20px;
}
#community-wrap .js-focus .js-focus-content {
  padding: 0;
}
#community-wrap .js-focus .js-focus-menu a {
  padding: 12px 5px;
  display: block;
}
#community-wrap .js-focus .js-focus-actions .navbar .navbar-inner {
  padding-top: 6px;
}
#community-wrap .cStream-Actions {
  font-size: 12px;
}
#community-wrap .btn.btn-orange,
#community-wrap .btn.btn-green {
  background: none;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
  padding: 12px 10px;
  line-height: 0;
  display: block;
  margin-left: 5px;
  margin-top: 2px;
  background: #f39c12;
  margin-left: 12px;
}
#community-wrap .btn.btn-orange:hover,
#community-wrap .btn.btn-green:hover {
  background: #333;
}
#community-wrap .btn.btn-green {
  background: #16a085;
}
#community-wrap .login-area form {
  margin-bottom: 0;
}
#community-wrap .login-area .input-prepend.input-block-level > input,
#community-wrap .login-area .input-append.input-block-level > input {
  margin-left: -1px;
  width: 88%;
  line-height: 20px;
  height: 30px;
  padding: 0 10px;
}
#community-wrap .login-area .input-prepend.input-block-level > input[type="password"],
#community-wrap .login-area .input-append.input-block-level > input[type="password"] {
  width: 94%;
}
#community-wrap .login-area .btn-green {
  padding: 8px 15px;
  margin: 0;
  width: 100%;
  display: block;
  line-height: 14px;
}
#community-wrap h3.cIndex-Name {
  font-size: 18.5px;
}
#community-wrap .small {
  font-size: 85% !important;
}
#community-wrap .forGroups {
  margin-top: 15px;
}
#community-wrap .forGroups .cIndex-Box .cIndex-Avatar img {
  width: 55px;
  height: 55px;
}
#community-wrap .forGroups .cIndex-Box .cIndex-Content {
  margin: 0 0 0 70px;
}
#community-wrap .forGroups .cIndex-Box .cIndex-Status {
  padding: 0 0 8px;
  font-style: italic;
}
#community-wrap .forGroups .cIndex-Box .cIndex-Actions {
  font-size: 12px;
  position: static;
}
#community-wrap .forGroups .cIndex-Box .cIndex-Actions > div.cIndex-Feature {
  top: 0;
}
#feature,
#maintop,
#breadcrumbs,
#main,
#main-bottom,
#bottom {
  border: 0 none;
  box-shadow: 0 0 0 rgba(0,0,0,0);
}
.page-header {
  padding-bottom: 10px;
  margin-bottom: 25px;
}
.page-header h2 {
  margin: 0;
}
.newsfeed h2 {
  padding-bottom: 12px;
}
.t3-module ul,
.t3-module ol {
  margin: 0;
}
.t3-sidebar .t3-module {
  margin-bottom: 25px;
}
.t3-sidebar .module,
.t3-sidebar .t3-module {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.t3-sidebar .module .module-title,
.t3-sidebar .t3-module .module-title {
  border-bottom: 1px solid #E9E9E9;
  box-shadow: 0 1px 0 #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  padding-top: 0;
}
.t3-sidebar .module .nav,
.t3-sidebar .t3-module .nav {
  margin: 0;
}
.t3-sidebar .jb-menu .menu li a {
  padding: 2px 0;
  display: block;
  
}
.t3-sidebar .jb-menu .menu li a:hover {
  color: #eee;
}
.t3-sidebar .categories-module li,
.t3-sidebar ul.categories-module li,
.t3-sidebar .category-module li,
.t3-sidebar ul.category-module li {
  border-top: 1px solid #e9e9e9;
}
.t3-sidebar .categories-module li:first-child,
.t3-sidebar ul.categories-module li:first-child,
.t3-sidebar .category-module li:first-child,
.t3-sidebar ul.category-module li:first-child {
  border-top: 0;
}
.t3-sidebar .feed h2 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 4px;
}
.t3-sidebar .feed ul.newsfeed {
  margin-top: 15px;
}
.t3-sidebar .feed ul.newsfeed li a {
  padding: 0;
}
.t3-sidebar .feed ul.newsfeed ul {
  padding-left: 15px;
  padding-top: 10px;
}
.t3-sidebar .feed ul.newsfeed ul li h3 {
  margin-top: 0;
}
.t3-sidebar .search {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #F1F1F1;
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  display: block;
  padding: 16px;
}
.t3-sidebar .app-box {
  border: 0 none !important;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  padding: 0;
  margin-bottom: 25px;
}
.t3-sidebar .app-box .app-box-content {
  display: block;
}
.t3-sidebar .app-box .app-box-footer {
  border: 0 none;
  text-align: left;
  padding-top: 0;
  margin-top: 10px;
}
.t3-sidebar .app-box .js-mod-photos .app-box-footer {
  margin-top: 0;
}
.t3-sidebar .cMods-HelloMe {
  margin-bottom: 15px;
}
.t3-sidebar .cMods-HelloMe .cHello-Header {
  border-bottom: 1px solid #e9e9e9;
  text-align: left;
}
.t3-sidebar .cMods-HelloMe .cHello-Header img {
  width: 100%;
}
.t3-sidebar .cMods-HelloMe .cHello-Header .cHello-edit-profile {
  display: block;
  position: relative;
  top: 0px;
  text-align: center;
}
.t3-sidebar .cMods-HelloMe .cHello-Header .cHello-edit-profile h3 {
  margin: 10px 0 0 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}
.t3-sidebar .cMods-HelloMe .btn {
  background: none;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
  padding: 12px 18px;
  line-height: 0;
  display: block;
  margin-left: 0;
  margin-top: 2px;
  margin-bottom: 15px;
}
.t3-sidebar .cMods-HelloMe .btn.btn-green {
  background: #16a085;
}
.t3-sidebar .cMods-HelloMe .btn.btn-green:hover {
  background: #333;
}
.t3-sidebar .cMods-HelloMe form {
  margin: 0 0 0 0;
}
.t3-sidebar .cMods-HelloMe form input {
  width: auto;
}
.t3-sidebar .cModule,
.t3-sidebar .t3-module {
  padding: 0;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.t3-sidebar .cModule ul,
.t3-sidebar .t3-module ul {
  margin-top: 5px;
  margin-bottom: 5px;
}
.t3-sidebar .cModule ul li,
.t3-sidebar .t3-module ul li {
  width: inherit;
  list-style-type: none;
}
.t3-sidebar .cModule ul li a,
.t3-sidebar .t3-module ul li a {
  padding: 2px 0;
  display: block;
  float: none;
}
.t3-sidebar .cModule ul li a:hover,
.t3-sidebar .t3-module ul li a:hover {
  background: none;
  color: #555;
}
.t3-sidebar .cModule ul.community-groups li,
.t3-sidebar .t3-module ul.community-groups li {
  float: none;
  display: block;
  margin-left: 0;
  margin-top: 8px;
}
.t3-sidebar .cModule ul.community-groups li:first-child,
.t3-sidebar .t3-module ul.community-groups li:first-child {
  margin-top: 0;
}
.t3-sidebar .cModule ul.community-groups li a,
.t3-sidebar .t3-module ul.community-groups li a {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #F1F1F1;
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  display: block;
  padding: 5px;
}
.t3-sidebar .cModule ul.community-groups li a .group-title,
.t3-sidebar .t3-module ul.community-groups li a .group-title {
  margin-left: 57px;
  position: relative;
  top: 5px;
}
.t3-sidebar .cModule ul.community-groups li a .group-title h4,
.t3-sidebar .t3-module ul.community-groups li a .group-title h4 {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}
.t3-sidebar .cModule ul.community-groups li a .group-title span,
.t3-sidebar .t3-module ul.community-groups li a .group-title span {
  font-size: 12px;
}
.t3-sidebar .cModule ul.community-groups li img,
.t3-sidebar .t3-module ul.community-groups li img {
  float: left;
  height: 48px;
  width: 48px;
}
.t3-sidebar .cModule ul.community-groups li:first-child,
.t3-sidebar .t3-module ul.community-groups li:first-child {
  margin-top: 0;
}
.t3-sidebar .cModule ul.community-event li,
.t3-sidebar .t3-module ul.community-event li {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #F1F1F1;
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  display: block;
  padding: 5px;
  margin-top: 8px;
}
.t3-sidebar .cModule ul.community-event li:first-child,
.t3-sidebar .t3-module ul.community-event li:first-child {
  margin-top: 0;
}
.t3-sidebar .cModule ul.community-event li a,
.t3-sidebar .t3-module ul.community-event li a {
  padding: 0;
}
.t3-sidebar .cModule ul.community-event li a:hover,
.t3-sidebar .t3-module ul.community-event li a:hover {
  background: none;
}
.t3-sidebar .cModule ul.community-event li .cThumb-Calendar,
.t3-sidebar .t3-module ul.community-event li .cThumb-Calendar {
  border: 0 none;
  background: #2980B9;
  width: 45px;
  float: left;
  display: block;
  text-align: center;
}
.t3-sidebar .cModule ul.community-event li .cThumb-Calendar b,
.t3-sidebar .t3-module ul.community-event li .cThumb-Calendar b {
  background: rgba(0,0,0,0.2);
  color: #fff;
  border: 0 none;
  font-size: 10px;
  padding: 1px 0;
  display: block;
}
.t3-sidebar .cModule ul.community-event li .cThumb-Calendar b + b,
.t3-sidebar .t3-module ul.community-event li .cThumb-Calendar b + b {
  color: #fff;
  border: 0 none;
  font-size: 25px;
  padding: 4px 0 3px;
  background: #2980B9;
  display: block;
}
.t3-sidebar .cModule ul.community-event li .cThumb-Detail,
.t3-sidebar .t3-module ul.community-event li .cThumb-Detail {
  margin-left: 56px;
}
.t3-sidebar .cModule ul.community-member,
.t3-sidebar .t3-module ul.community-member {
  margin-left: -5px;
}
.t3-sidebar .cModule ul.community-member li,
.t3-sidebar .t3-module ul.community-member li {
  margin: 0 0 5px 5px;
  float: left;
}
.t3-sidebar .cModule ul.community-member li a,
.t3-sidebar .t3-module ul.community-member li a {
  padding: 0;
}
.t3-sidebar .cModule ul.community-member li a img,
.t3-sidebar .t3-module ul.community-member li a img {
  border: 1px solid #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.055);
  display: block;
  line-height: 20px;
  padding: 4px;
  transition: all 0.2s ease-in-out 0s;
  width: 48px;
  height: 48px;
}
.t3-sidebar .cModule .js-mod-photos .js-row-fluid .js-col3,
.t3-sidebar .t3-module .js-mod-photos .js-row-fluid .js-col3 {
  width: 23.4043%;
  float: left;
  margin-left: 2.12766%;
}
.t3-sidebar .cModule .js-mod-photos .js-row-fluid .js-col3:first-child,
.t3-sidebar .cModule .js-mod-photos .js-row-fluid .js-col3:nth-child(4n+1),
.t3-sidebar .t3-module .js-mod-photos .js-row-fluid .js-col3:first-child,
.t3-sidebar .t3-module .js-mod-photos .js-row-fluid .js-col3:nth-child(4n+1) {
  margin-left: 0;
}
.t3-sidebar .cModule .js-mod-photos .js-row-fluid:after,
.t3-sidebar .cModule .js-mod-photos .js-row-fluid:before,
.t3-sidebar .t3-module .js-mod-photos .js-row-fluid:after,
.t3-sidebar .t3-module .js-mod-photos .js-row-fluid:before {
  content: "";
  display: table;
  line-height: 0;
}
.t3-sidebar .cModule .js-mod-photos .js-row-fluid:after,
.t3-sidebar .t3-module .js-mod-photos .js-row-fluid:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.t3-sidebar .cModule .js-mod-photos .js-row-fluid .bottom-gap,
.t3-sidebar .t3-module .js-mod-photos .js-row-fluid .bottom-gap {
  margin-bottom: 10px !important;
}
.t3-sidebar .cModule #latest-members-nav.app-box-filter,
.t3-sidebar .t3-module #latest-members-nav.app-box-filter {
  margin-bottom: 5px;
}
.article-header {
  margin-bottom: 10px;
}
.article-aside {
  border-top: 1px dotted #ddd;
  border-bottom: 1px dotted #ddd;
  padding: 10px 0;
}
.login fieldset {
  padding-top: 25px;
}
.profile .dl-horizontal dd,
.profile .dl-horizontal dt {
  padding: 5px 0;
}
.contact #slide-contact .dl-horizontal {
  float: left;
  width: 50%;
  margin-left: 20px;
}
.contact #slide-contact .dl-horizontal.contact-position {
  margin-bottom: 10px;
}
.contact #slide-contact .dl-horizontal.contact-position dd {
  font-size: 20px;
  font-weight: bold;
}
.contact #slide-contact .dl-horizontal dd {
  margin-left: 35px;
}
.contact #slide-contact .dl-horizontal dt {
  text-align: left;
  width: 35px;
}
.contact .accordion-inner {
  *zoom: 1;
}
.contact .accordion-inner:before,
.contact .accordion-inner:after {
  display: table;
  line-height: 0;
  content: "";
}
.contact .accordion-inner:after {
  clear: both;
}
.tipsy {
  padding: 5px;
  font-size: 10px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  background-repeat: no-repeat;
  background-image: url(../../../tipsy-0.1.7/src/images/tipsy.gif);
}
.tipsy-inner {
  padding: 5px 8px 4px 8px;
  background-color: black;
  color: white;
  max-width: 200px;
  text-align: center;
}
.tipsy-inner {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.tipsy-north {
  background-position: top center;
}
.tipsy-south {
  background-position: bottom center;
}
.tipsy-east {
  background-position: right center;
}
.tipsy-west {
  background-position: left center;
}
#system-message {
  margin: 0;
}
.t3-footer {
  background: #34495e;
}
.t3-footer .t3-copyright {
  box-shadow: 0 -1px 0 #20303A;
  border-top: 1px solid rgba(255,255,255,0.1);
}
.t3-footer .t3-spotlight {
  padding: 60px 0 30px;
}
.t3-footer .t3-spotlight .t3-module {
  margin-bottom: 20px;
  border: 0 none;
  margin-bottom: 20px;
  padding: 0;
  box-shadow: 0 0 0 rgba(0,0,0,0);
}
.t3-footer .t3-spotlight .t3-module .app-box-filter {
  border-bottom: 1px solid rgba(255,255,255,0.2);
  border-top: 1px solid rgba(255,255,255,0.2);
  font-size: 0;
  margin: 0 0 15px;
  padding: 5px 0;
}
.t3-footer .t3-spotlight .t3-module .app-box-filter a.active-state {
  color: #fff;
}
.t3-footer .t3-spotlight .t3-module .app-box-footer {
  border-top: 1px solid rgba(255,255,255,0.2);
  font-size: 90%;
  margin-top: 0;
  padding-top: 10px;
  text-align: left;
}
.t3-footer .t3-spotlight .module-title {
  color: #F1F1F1;
  font-size: 20px;
}
.t3-footer .poweredby .t3-logo {
  float: none;
  margin: 0 auto;
}
.t3-footer .poweredby .t3-logo:hover {
  background: url("http://joomlart.s3.amazonaws.com/images/jat3v3-documents/logo-complete/t3logo-big-light.png");
}
.t3-footer .copyright,
.t3-footer .designedby {
  padding: 0 0 20px;
}
.t3-footer .designedby {
  text-align: right;
}

