/**
* @copyright (C) 2013 iJoomla, Inc. - All rights reserved.
* @license GNU General Public License, version 2 (http://www.gnu.org/licenses/gpl-2.0.html)
* @author iJoomla.com <webmaster@ijoomla.com>
* @url https://www.jomsocial.com/license-agreement
* The PHP code portions are distributed under the GPL license. If not otherwise stated, all images, manuals, cascading style sheets, and included JavaScript *are NOT GPL, and are released under the IJOOMLA Proprietary Use License v1.0
* More info at https://www.jomsocial.com/license-agreement
*/

.joms-postbox {
  background:@postbox-background;
  border:1px solid @postbox-border-color;
  .box-shadow(@postbox-shadow-color);
}

.joms-postbox-charcount {
  color:#7f8c8d;
}

.joms-postbox-input {
  border:none;
  border-bottom:1px solid @postbox-input-border-color;
  background:@postbox-input-background;
  color:@postbox-input-color;
  &:focus {
    .box-shadow(@postbox-input-shadow);
    outline:none;
    .browser-appearance(none);
  }
  .default-text {
    color:#aaa;
  }
}

.joms-postbox-tab {
  li {
    color:@postbox-tab-color;
    &:hover, &:focus, &.active {
      color:@postbox-tab-color-active;

    }
    &.active {
      &:after {
        border-style: solid;
        border-width: 10px 6px 0 6px;
        border-color: @postbox-tab-arrow-color transparent transparent transparent;
        border-color: @postbox-tab-arrow-color @postbox-tab-arrow-color-fallback @postbox-tab-arrow-color-fallback @postbox-tab-arrow-color-fallback; // firefox fallback
        background: transparent;
      }
      &:before {
        border-style: solid;
        border-width: 10px 6px 0 6px;
        border-color: @postbox-tab-arrow-color-border transparent transparent transparent;
        border-color: @postbox-tab-arrow-color-border @postbox-tab-arrow-color-fallback @postbox-tab-arrow-color-fallback @postbox-tab-arrow-color-fallback; // firefox fallback
        background: transparent;
      }
    }
  }

  &.selected {
    background:@postbox-tab-selected-background;
    li {
      border-right:1px solid @postbox-tab-border-color;
    }
  }

}

.joms-postbox-action {
  button {
    .gradient-vertical(@postbox-post-button-gradient-top, @postbox-post-button-gradient-bottom);
    .border-radius(2px);
    .box-shadow(@postbox-post-button-shadow);
    color:@postbox-post-button-color;
    border:@postbox-post-button-border;
    &:hover, &:active, &:focus {
      .gradient-vertical(@postbox-post-button-gradient-reverse-top, @postbox-post-button-gradient-reverse-top);
      .box-shadow(none);
    }
    &.joms-postbox-cancel {
      background:@postbox-cancel-button-background;
      color:@postbox-cancel-button-color;
      border-color:@postbox-cancel-button-border;
      .box-shadow(none);
      &:hover {
        background:@postbox-cancel-button-background-reverse;
      }
    }
  }
}

.joms-postbox-dropdown {
  .border-radius(0px 0px 4px 4px);
  background:@postbox-dropdown-background;
  .box-shadow(@postbox-dropdown-shadow);
  border:1px solid @postbox-dropdown-border;
}

