.textntags-wrapper{position:absolute;left:0;right:0;top:0;background:transparent;}.textntags-wrapper .textntags-beautifier{position:relative;padding:0;color:#ffffff;white-space:pre-wrap;word-wrap:break-word;}.textntags-wrapper .textntags-beautifier>div{color:#ffffff;white-space:pre-wrap;width:100%;font-family:inherit;font-size:inherit;line-height:inherit;}.textntags-wrapper .textntags-beautifier>div>strong{font-weight:normal !important;background:#d8dfea;line-height:inherit;}.textntags-wrapper .textntags-beautifier>div>strong>span{filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);}
.textntags-wrapper .textntags-tag-list{display:none;background:#ffffff;border:1px solid #b2b2b2;position:absolute;left:0;right:0;z-index:10000;margin:-2px 0 0 0 !important;padding:0 !important;border-top-right-radius:0;border-top-left-radius:0;-webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.148438);-moz-box-shadow:0 2px 5px rgba(0, 0, 0, 0.148438);box-shadow:0 2px 5px rgba(0, 0, 0, 0.148438);}.textntags-wrapper .textntags-tag-list ul{margin:0 !important;padding:0 !important;}
.textntags-wrapper .textntags-tag-list li{background-color:#ffffff;padding:0 5px;margin:0;width:auto;border-bottom:1px solid #eeeeee;height:33px !important;line-height:33px !important;overflow:hidden;cursor:pointer;list-style:none;white-space:nowrap;}.textntags-wrapper .textntags-tag-list li em{font-weight:bold;font-style:none;}
.textntags-wrapper .textntags-tag-list li>img,.textntags-wrapper .textntags-tag-list li div.icon{width:24px;height:24px;float:left;margin-top:5px;margin-right:5px;margin-left:5px;-moz-background-origin:3px;border-radius:3px;}
.textntags-wrapper .textntags-tag-list li:hover,.textntags-wrapper .textntags-tag-list li.active{background-color:#f2f2f2;}
.textntags-wrapper .textntags-tag-list li b{background:#ffff99;font-weight:normal;}
@-moz-document url-prefix(){.textntags-wrapper textarea{left:-1px !important;right:-1px !important;}}.popover{position:absolute;top:0;left:0;z-index:1010;display:none;max-width:276px;padding:1px;text-align:left;background-color:#ffffff;-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0, 0, 0, 0.2);-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);white-space:normal;}.popover.top{margin-top:-10px;}

.textntags-wrapper textarea {
  max-height: none;
  min-height: 0;
}

.textntags-wrapper .textntags-beautifier span {
  -webkit-hyphens: none !important;
     -moz-hyphens: none !important;
      -ms-hyphens: none !important;
       -o-hyphens: none !important;
}

body #cWindow #upload-header {
  padding: 10px !important;
}

.plupload_filelist li {
  border-bottom: 1px solid #CDCDCD;
}

.plupload_filelist_header .plupload_file_name,
.plupload_filelist .plupload_file_name {
  float: none !important;
  width: 80% !important;
}

.plupload_file_name img {
  background-color: #DBE3E5;
  display: block;
  margin: 3px 0;
  padding: 4px;
}

.plupload_file_name span {
  display: block;
}

.plupload_filelist .plupload_file_size,
.plupload_filelist .plupload_file_status {
  display: inline !important;
  float: none !important;
  padding-right: 10px;
  width: auto !important;
}

li.joms-stream {
  list-style: none;
}
